---
import { Image } from "astro:assets";
import Chap2Sum1 from '../../assets/Chap2Sum1.png'
import Chap2Sum2 from '../../assets/Chap2Sum2.png'
import Chap2Sum3 from '../../assets/Chap2Sum3.png'
---
<section class="chap2-sum">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap2-sum-title">
            Tổng quan ngành sữa Việt Nam năm 2023
        </h2>
        <div class="chap2-sum-main">
            <div class="box-grp">
                <div class="col-item">
                    <p class="txt txt-17">
                        Năm 2023, ngành tiêu dùng nhanh ghi nhận mức tăng nhẹ 2% so với cùng kỳ trong khi ngành sữa giảm nhẹ 1%. Nền kinh tế Việt Nam bị ảnh hưởng bởi tình hình kinh tế thế giới dẫn đến tổng cầu suy giảm. Nhiều nền kinh tế là đối tác thương mại lớn của Việt Nam có mức
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17">
                        tăng trưởng chậm lại do chính sách tiền tệ thắt chặt, lạm phát dù đã hạ nhiệt nhưng vẫn ở mức cao, các bất ổn địa chính trị, an ninh lương thực, biến đổi khí hậu… Theo Tổng cục Thống  kê, tăng trưởng sức mua hàng hóa và  dịch vụ tiêu dùng sau khi loại trừ yếu tố giá trong năm 2023
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17">
                        đã chậm lại đáng kể qua từng quý. Giá trị lũy kế 3 tháng  tăng 10,3%, 6 tháng tăng 8,4%, 9 tháng  tăng 7,3%, 12 tháng tăng 7,1%. Ngoài ra, tăng trưởng ngành sữa cũng không còn nhiều hỗ trợ từ yếu tố giá bán trong năm 2023 như năm trước.
                    </p>
                </div>
            </div>
            <div class="box-grp">
                <div class="box-item">
                    <div class="box-item-inner">
                        <div class="img-wrap">
                            <Image src={Chap2Sum1} alt="" />
                        </div>
                        <div class="content-wrap">
                            <div class="txt txt-17 label">
                                Ngành tiêu dùng nhanh ghi nhận mức tăng nhẹ
                            </div>
                            <div class="line line-ver"></div>
                            <div class="value-wrap">
                                <div class="heading txt-162 txt-bold txt-up number-value">
                                    2
                                </div>
                                <div class="heading txt-64 txt-bold txt-up number-unit">
                                    %
                                </div>
                            </div>
                        </div>
                        <div class="txt txt-12 txt-ari src">
                            (Nguồn: NielsenIQ)
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="box-item-inner">
                        <div class="img-wrap">
                            <Image src={Chap2Sum2} alt="" />
                        </div>
                        <div class="content-wrap">
                            <div class="txt txt-36 label">
                                Ngành sữa giảm nhẹ
                            </div>
                            <div class="line line-ver"></div>
                            <div class="value-wrap">
                                <div class="heading txt-162 txt-bold txt-up number-value">
                                    1
                                </div>
                                <div class="heading txt-64 txt-bold txt-up number-unit">
                                    %
                                </div>
                            </div>
                        </div>
                        <div class="txt txt-12 txt-ari src">
                            (Nguồn: NielsenIQ)
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="box-item-inner">
                        <div class="img-wrap">
                            <Image src={Chap2Sum3} alt="" />
                        </div>
                        <div class="content-wrap">
                            <div class="txt txt-17 label">
                                Tăng trưởng sức mua hàng hóa và dịch vụ tiêu dùng (lũy kế 12 tháng, loại trừ yếu tố giá)
                            </div>
                            <div class="value-wrap">
                                <div class="heading txt-162 txt-bold txt-up number-value">
                                    7,1
                                </div>
                                <div class="heading txt-64 txt-bold txt-up number-unit">
                                    %
                                </div>
                            </div>
                        </div>
                        <div class="txt txt-12 txt-ari src">
                            (Nguồn: Tổng cục Thống kê)
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-grp">
                <div class="col-item">
                    <p class="txt txt-17">
                        Đối với người tiêu dùng trong nước, sự bất ổn trong thu nhập và việc làm đang là mối lo hàng đầu. Sự thay đổi trong thói quen của người tiêu dùng thể hiện qua việc ưu tiên sản phẩm hoặc kênh  mua sắm có chương trình khuyến mãi  hấp dẫn, sử dụng sản phẩm thay thế có mức giá phù hợp hơn hay chọn bao bì có dung tích lớn để tiết kiệm.
                    </p>
                    <p class="txt txt-17">
                        Theo nghiên cứu của Euromonitor, sữa  bột cho trẻ em tại Việt Nam đối mặt với nhiều khó khăn trong năm 2023 do khó khăn kinh tế và tỷ lệ sinh giảm. Sữa bột cho trẻ em chưa được xem là sản phẩm thiết yếu, và giá cả, đặc biệt là sản phẩm sữa công thức, có thể là một rào cản đáng kể đối với người tiêu dùng thu nhập thấp. Do đó, các lựa chọn thay thế tiết kiệm chi phí hơn, như sữa mẹ hoặc các món ăn dặm tự chế biến có thể được người tiêu dùng lựa chọn  trong giai đoạn khó khăn này.
                    </p>
                    <p class="txt txt-17">
                        Sản phẩm sữa nước trong năm 2023 cũng chịu nhiều tác động của lạm phát và chi phí sinh hoạt ngày càng tăng. Nhiều người tiêu dùng Việt Nam vẫn chưa hình thành thói quen tiêu dùng 
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17">
                        sữa hằng ngày, trong khi một nhóm  người tiêu dùng khác ưa thích các thức  uống thay thế như sữa thực vật, sữa  hạt. Sữa thực vật đang được hưởng lợi  từ các xu hướng về sức khỏe, phong  cách sống lành mạnh và bền vững. 
                    </p>
                    <p class="txt txt-17">
                        Mặt khác, sữa chua vẫn duy trì được  tăng trưởng với vai trò là một lựa chọn linh hoạt trong chế biến món ăn và làm bữa ăn nhẹ. Sữa chua cũng được người tiêu dùng đánh giá cao nhờ hàm lượng đạm cao, khả năng hỗ trợ tiêu hóa và tăng cường hệ miễn dịch. Văn hóa uống cà phê vẫn đang phát triển mạnh mẽ ở Việt Nam, trong đó cà phê kết hợp với sữa đặc mang đậm nét đặc trưng. Ngoài cà phê sữa, tiêu dùng sữa đặc được khuyến khích thông qua việc  kết hợp với các thức uống và món ăn khác như sinh tố, các món tráng miệng hay nấu nướng các món ăn truyền  thống của Việt Nam. 
                    </p>
                    <p class="txt txt-17">
                        Xu hướng quan tâm đến sức khỏe vẫn  là động lực chính thúc đẩy ngành sữa Việt Nam. Gần đây, các sản phẩm sữa tươi và sữa bột cho trẻ em hữu cơ, hay  sản phẩm sữa chua không chứa 
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17">
                        chất béo, đường đang dần xuất hiện phổ  biến hơn. Để bắt kịp những xu hướng này, các công ty sản xuất sữa đang tích cực truyền thông nâng cao nhận  thức về sức khỏe và dinh dưỡng cho người tiêu dùng. Hơn nữa, nhiều sản phẩm mới cũng được tung ra thị trường hướng đến tập trung vào sức khỏe và phong cách sống lành mạnh. 
                    </p>
                    <p class="txt txt-17">
                        Đối mặt với tình hình tỷ lệ sinh thấp,  Chính phủ đã nỗ lực khuyến khích sinh con thông qua tuyên truyền, sáng kiến và dự thảo luật, chính sách hỗ trợ. Một số nội dung đã được thí điểm theo Quyết định được Chính phủ ban hành như vận động nam, nữ thanh niên không kết hôn muộn, không sinh con muộn, mỗi cặp vợ chồng sinh đủ hai con và nuôi dạy con tốt; thí điểm và từng bước mở rộng các biện pháp hỗ trợ các cặp vợ chồng sinh đủ hai con ở  vùng mức sinh thấp… Nhiều nhãn hàng  sữa bột cũng đang tập trung nâng cao  chất lượng sản phẩm, nâng cao tính tiện lợi và dinh dưỡng của sữa bột cho trẻ em, đáp ứng nhu cầu của các bậc cha mẹ hiện đại ngày nay.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .chap2-sum {
        padding-block: 8.4rem 9.4rem;
        &-title {
            text-align: center;
            margin-bottom: 5.7rem;
            color: var(--cl-blue);
        }
        &-main {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            .box-grp {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: var(--grid-gap);
                .col-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    justify-content: space-between;
                    p {
                        color: var(--cl-txt);
                    }
                }
                .box-item {
                    .box-item-inner {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 1.4rem;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    &:nth-child(1) {
                        .box-item-inner {
                            background-color: var(--cl-blue);
                            color: var(--cl-bg);
                            padding-block: 1.2rem 1.6rem;
                            padding-inline: 2.4rem;
                            .img-wrap {
                                max-width: 18.8rem;
                                margin-left: .7rem;
                            }
                            .content-wrap {
                                display: flex;
                                align-items: center;
                                margin-top: -2.3rem;
                                margin-bottom: -2.5rem;
                                width: 100%;
                                .label {
                                    max-width: 14.9rem;
                                    line-height: 2rem;
                                }
                                .line-ver {
                                    background-color: var(--cl-bg);
                                    margin-inline: .6rem 2.6rem;
                                    height: 14.2rem;
                                    margin-top: 2.6rem;
                                }
                                .value-wrap {
                                    display: flex;
                                    align-items: end;
                                    .number-unit {
                                        margin-bottom: 2.6rem;
                                        margin-left: 1.7rem;
                                    }
                                }
                            }
                            .src {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .box-item-inner {
                            background-color: var(--cl-blue-3);
                            color: var(--cl-blue);
                            padding-block: 0 1.6rem;
                            padding-inline: 2.4rem;
                            .img-wrap {
                                max-width: 28.7rem;
                                margin-right: .6rem;
                            }
                            .content-wrap {
                                display: flex;
                                align-items: center;
                                margin-top: -3.5rem;
                                margin-bottom: -2.5rem;
                                width: 100%;
                                .label {
                                    max-width: 17.5rem;
                                }
                                .line-ver {
                                    background-color: var(--cl-blue);
                                    margin-inline: 1.9rem 2.7rem;
                                    height: 14.2rem;
                                    margin-top: 2.6rem;
                                }
                                .value-wrap {
                                    display: flex;
                                    align-items: end;
                                    .number-unit {
                                        margin-bottom: 2.5rem;
                                        margin-left: 1.7rem;
                                    }
                                }
                            }
                            .src {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .box-item-inner {
                            background-color: var(--cl-green-dark);
                            color: var(--cl-bg);
                            padding-block: 1.5rem 1.6rem;
                            padding-inline: 1.8rem;
                            .img-wrap {
                                max-width: 24.9rem;
                                margin-left: 2.2rem;
                            }
                            .content-wrap {
                                display: flex;
                                align-items: center;
                                margin-top: -1.8rem;
                                margin-bottom: -2.5rem;
                                .label {
                                    width: 100%;
                                    max-width: 16.2rem;
                                    margin-bottom: .8rem;
                                }
                                .line-ver {
                                    background-color: var(--cl-blue);
                                    margin-inline: 1.9rem 2.7rem;
                                    height: 14.2rem;
                                    margin-top: 2.6rem;
                                }
                                .value-wrap {
                                    display: flex;
                                    align-items: end;
                                    margin-left: 1.4rem;
                                    .number-unit {
                                        margin-bottom: 2.5rem;
                                    }
                                }
                            }
                            .src {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
</style>