---
import { Image } from "astro:assets";
---
<section class="chap2-award">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap2-award-title" data-aos="fade-up">
            Các hoạt động cộng đồng năm 2023
        </h2>
    </div>
</section>
<style lang="scss">
    .chap2-award {
        padding-bottom: 8.2rem;
        &-title {
            text-align: center;
            margin-bottom: 4.8rem;
            color: var(--cl-blue);
        }
    }
</style>
