---
import { Image } from "astro:assets";
import Chap2Sum1 from '../../assets/Chap2Sum1.png'
import Chap2Sum2 from '../../assets/Chap2Sum2.png'
import Chap2Sum3 from '../../assets/Chap2Sum3.png'
---
<section class="chap2-sum" id="Sc1">
    <div class="container">
        <h2 class="heading txt-78 txt-bold chap2-sum-title" data-aos="fade-up">
            Vietnam Dairy Industry 2023
        </h2>
        <div class="chap2-sum-main">
            <div class="box-grp box-collapse" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        In 2023, the fast-moving consumer goods industry recorded a modest increase of 2% YoY, while the dairy industry saw a slight decline of 1%. Vietnam's economy fell under the impact of the global economic situation, resulting in a decrease in total demand. Many of Vietnam's major trading partners experienced slowed
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        growth due to contractionary monetary policy, elevated inflation, geopolitical instability, food security concerns, climate change, and more. According to the General Statistics Office, the growth of purchasing power for goods and services after excluding price factors slowed down significantly each quarter in 2023. In particular, the cumulative
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        value increased by 10.3% in 3 months, 8.4% in 6 months, 7.3% in 9 months, and 7.1% in 12 months. Additionally, there was no longer as much support from pricing factors for dairy industry growth as in last year.
                    </p>
                </div>
            </div>
            <div class="box-grp" data-aos="fade-up">
                <div class="box-item">
                    <div class="box-item-inner">
                        <div class="img-wrap">
                            <Image src={Chap2Sum1} alt="" />
                        </div>
                        <div class="content-wrap">
                            <div class="txt txt-17 label">
                                The FMCG industry recorded a modest increase of 
                            </div>
                            <div class="line line-ver"></div>
                            <div class="value-wrap">
                                <div class="heading txt-162 txt-bold txt-up number-value">
                                    <span data-counter>2</span>
                                </div>
                                <div class="heading txt-64 txt-bold txt-up number-unit">
                                    %
                                </div>
                            </div>
                        </div>
                        <div class="txt txt-12 txt-ari src">
                            (Source: NielsenIQ)
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="box-item-inner">
                        <div class="img-wrap">
                            <Image src={Chap2Sum2} alt="" />
                        </div>
                        <div class="content-wrap">
                            <div class="txt txt-17 label">
                                The dairy industry saw a slight decline of 
                            </div>
                            <div class="line line-ver"></div>
                            <div class="value-wrap">
                                <div class="heading txt-162 txt-bold txt-up number-value">
                                    <span data-counter>1</span>
                                </div>
                                <div class="heading txt-64 txt-bold txt-up number-unit">
                                    %
                                </div>
                            </div>
                        </div>
                        <div class="txt txt-12 txt-ari src">
                            (Source: NielsenIQ)
                        </div>
                    </div>
                </div>
                <div class="box-item">
                    <div class="box-item-inner">
                        <div class="img-wrap">
                            <Image src={Chap2Sum3} alt="" />
                        </div>
                        <div class="content-wrap">
                            <div class="txt txt-17 label">
                                The cumulative value of goods and services increased by
                            </div>
                            <div class="value-wrap">
                                <div class="heading txt-162 txt-bold txt-up number-value">
                                    <span data-counter>7,1</span>
                                </div>
                                <div class="heading txt-64 txt-bold txt-up number-unit">
                                    %
                                </div>
                            </div>
                        </div>
                        <div class="txt txt-12 txt-ari src">
                            (Source: General Statistics Office)
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-grp" data-aos="fade-up">
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        For domestic consumers, income and employment instability reigned as top concerns. Changes in consumer habits were evident through the preference for products or shopping channels with enticing promotional programs, affordable alternatives, or larger packs to stretch their budgets.
                    </p>
                    <p class="txt txt-17 txt-inter">
                        According to Euromonitor's report, infant formula market in Vietnam hit a rough patch in 2023 due to economic hardship and a declining birth rate. Plus, infant formula is yet considered by the locals as a newborn staple. This, coupled with its price point, creates a significant barrier for low-income consumers. Therefore, other cost-effective alternatives such as breast milk or homemade complementary foods could be preferred during this period of economic strain.
                    </p>
                    <p class="txt txt-17 txt-inter">
                        The story of the liquid milk category last year wasn't much different due to the significant impacts of inflation and the rising cost of living. In fact, many Vietnamese have yet to form a habit of drinking milk daily. Besides, there is another group of consumers 
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        favoring other alternatives such as nut milk or plant-based milk, which is benefiting from trends towards health, sustainable lifestyles, and wellness. 
                    </p>
                    <p class="txt txt-17 txt-inter">
                        On the other hand, yogurt was able to maintain its growth, serving as a flexible option for meal preparation and light snacking. It is also highly valued for its protein-rich content, digestive support, and immunity enhancement. The coffee culture continues to thrive in Vietnam, characterized by a distinctive drink made through a combination of coffee and condensed milk. Besides, condensed milk showcases its versatility via a wide range of application, either in beverages and dishes, such as milkshake and desserts, or in traditional cuisine. 
                    </p>
                    <p class="txt txt-17 txt-inter">
                        The rise of healthy living remains a major driving force for the Vietnam's dairy industry. Recently, organic fresh milk, infant formula as well as fat-free or sugar-free yogurt, are taking on a higher profile. To keep up with these trends, dairy companies are actively promoting
                    </p>
                </div>
                <div class="col-item">
                    <p class="txt txt-17 txt-inter">
                        awareness of health and nutrition among consumers. Moreover, a great number of newly launched products shift their focus on wellbeing and healthy lifestyle. 
                    </p>
                    <p class="txt txt-17 txt-inter">
                        In response to the low birth rate, the Government has made great efforts to boost childbirth through public campaigns, initiatives, draft laws, and incentives. Several measures have been piloted with according to the Government's Decision, including discouraging late marriage and late childbirth; promoting the ideal of two children per married couple along with responsible parenting practices; or piloting and scaling up incentives for couples with two children in regions experiencing low birth rates, etc. Recognizing the evolving needs of modern parents, many infant formula brands are investing in enhancing product quality, convenience, and nutritional values.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .chap2-sum {
        padding-block: 8.4rem 9.4rem;
        @media screen and (max-width: 767px) {
            padding-block: 4.6rem 3.9rem;
        }
        &-title {
            text-align: center;
            margin-bottom: 5.7rem;
            color: var(--cl-blue);
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 2.4rem;
            }
        }
        &-main {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            .box-grp {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: var(--grid-gap);
                @media screen and (max-width: 767px) {
                    grid-template-columns: 1fr;
                    row-gap: 2rem;
                }
                &.box-collapse {
                    @media screen and (max-width: 767px) {
                        display: block;
                        row-gap: 0;
                        p {
                            display: inline;
                        }
                    }
                }
                .col-item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    justify-content: start;
                    p {
                        color: var(--cl-txt);
                    }
                }
                .box-item {
                    .box-item-inner {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 1.4rem;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    &:nth-child(1) {
                        .box-item-inner {
                            background-color: var(--cl-blue);
                            color: var(--cl-bg);
                            padding-block: 1.2rem 1.6rem;
                            padding-inline: 2.4rem;
                            .img-wrap {
                                max-width: 18.8rem;
                                margin-left: .7rem;
                            }
                            .content-wrap {
                                display: flex;
                                align-items: center;
                                margin-top: -2.3rem;
                                margin-bottom: -2.5rem;
                                width: 100%;
                                .label {
                                    max-width: 14.9rem;
                                    line-height: 2rem;
                                }
                                .line-ver {
                                    background-color: var(--cl-bg);
                                    margin-inline: .6rem 2.6rem;
                                    height: 14.2rem;
                                    margin-top: 2.6rem;
                                }
                                .value-wrap {
                                    display: flex;
                                    align-items: end;
                                    .number-unit {
                                        margin-bottom: 2.6rem;
                                        margin-left: 1.7rem;
                                    }
                                }
                            }
                            .src {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .box-item-inner {
                            background-color: var(--cl-blue-3);
                            color: var(--cl-blue);
                            padding-block: 0 1.6rem;
                            padding-inline: 2.4rem;
                            .img-wrap {
                                max-width: 28.7rem;
                                margin-right: .6rem;
                            }
                            .content-wrap {
                                display: flex;
                                align-items: center;
                                margin-top: -2.3rem;
                                margin-bottom: -2.5rem;
                                width: 100%;
                                .label {
                                    width: 100%;
                                    max-width: 14.9rem;
                                    line-height: 2rem;
                                }
                                .line-ver {
                                    background-color: var(--cl-blue);
                                    margin-inline: .6rem 2.6rem;
                                    height: 14.2rem;
                                    margin-top: 2.6rem;
                                }
                                .value-wrap {
                                    display: flex;
                                    align-items: end;
                                    .number-unit {
                                        margin-bottom: 2.6rem;
                                        margin-left: 1.7rem;
                                    }
                                }
                            }
                            .src {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .box-item-inner {
                            background-color: var(--cl-green-dark);
                            color: var(--cl-bg);
                            padding-block: 1.5rem 1.6rem;
                            padding-inline: 1.8rem;
                            .img-wrap {
                                max-width: 24.9rem;
                                margin-left: 2.2rem;
                            }
                            .content-wrap {
                                display: flex;
                                align-items: center;
                                margin-top: -1.8rem;
                                margin-bottom: -2.5rem;
                                .label {
                                    width: 100%;
                                    max-width: 16.2rem;
                                    margin-bottom: .8rem;
                                    @media screen and (max-width: 767px) {
                                        line-height: 1.2em;
                                    }
                                }
                                .line-ver {
                                    background-color: var(--cl-blue);
                                    margin-inline: 1.9rem 2.7rem;
                                    height: 14.2rem;
                                    margin-top: 2.6rem;
                                }
                                .value-wrap {
                                    display: flex;
                                    align-items: end;
                                    margin-left: 1.4rem;
                                    @media screen and (max-width: 767px) {
                                        .number-value {
                                            font-size: 14.2rem;
                                        }
                                    }
                                    .number-unit {
                                        margin-bottom: 2.5rem;
                                    }
                                }
                            }
                            .src {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
</style>