---
import { Image } from "astro:assets"
import signWoman from '../../assets/sign-woman.png'; 
import rtWoman1 from '../../assets/rt-woman-1.jpg';
import rtWoman2 from '../../assets/rt-woman-2.jpg';
---
<section class="mess-richtxt" data-aos="fade-up">
    <div class="container grid">
        <div class="mess-richtxt-main">
            <h2 class="heading txt-36 txt-bold mess-richtxt-title">
                Dear Valued Shareholders,
            </h2>
            <div class="richtxt">
                <p class="txt txt-17 txt-inter">
                    Vinamilk's business performance in 2023 reflected contrasting colors. In particular, the consumption of fast-moving consumer goods saw a significant decline due to domestic and international macroeconomic challenges, slipping into negative growth in the second half of the year. On the other hand, the recovery of the global supply chain following the pandemic benefited us in controlling production costs effectively. Given such complexity, Vinamilk and our people has displayed immense resilience, leveraging all available resources and competitive strengths to strive for optimal execution of the business plan. 
                </p>
                <h4 class="txt txt-17 txt-med txt-up">
                    BUSINESS RESULTS IN 2023
                </h4>
                <p class="txt txt-17 txt-inter">
                    Ended up 2023, Vinamilk recorded a total consolidated revenue of VND 60,479 billion, a YoY increase by VND 404 billion, completing 95% of annual plan. The consolidated net profit reached VND 9,019 billion, up by VND 472 billion YoY, surpassing the target by 5%, thanks to effective management of production and operational costs.
                </p>
                <h5 class="txt txt-17">
                    Domestic business
                </h5>
                <div class="img-wrap">
                    <Image src={rtWoman1} alt="" />
                </div>
                <p class="txt txt-17 txt-inter">
                    Amid the gloomy days of the Vietnamese dairy industry, the domestic business posted a consolidated net revenue and gross profit of VND 50,617 billion and VND 20,894 billion. The latter witnessed an increase of 1.6%. This was attributed to positive results in condensed milk, yogurt, and milk powder products. 
                </p>
                <p class="txt txt-17 txt-inter">
                    A defining moment in 2023 was the launch of a new brand identity in July, which embodies Vinamilk's “be determined, be bold, and be authentic” spirit, while resonating with the youthful energy and aspirations of the Vietnamese consumers. This was followed by the introduction of new packaging for the liquid milk category in August. Simultaneously, large-scale marketing campaigns were rolled out to enhance brand recognition among consumers.
                </p>
                <div class="grid">
                    <div class="grid-item bg-stripe left">
                        <div class="box-content">
                            <div class="txt txt-20 label txt-inter">
                                The multisensory exhibition “Chu Du Miền Vị Giác (A Trip to Flavour Land)” for the flagship Green Farm fresh milk brand attracted
                            </div>
                            <div class="heading txt-96 txt-up txt-bold number-value">
                                7.000
                            </div>
                            <div class="txt txt-20 number-unit txt-inter">
                                visitors
                            </div>
                        </div>
                    </div>
                    <div class="grid-item bg-stripe right">
                        <div class="box-content">
                            <div class="txt txt-20 label txt-inter">
                                Product showcases at GENfest Music Festival 2023 and Nguyen Hue walking street during the 2024 Tet holiday welcomed
                            </div>
                            <div class="heading txt-64 txt-up txt-bold number-value">
                                tens of thousands
                            </div>
                            <div class="txt txt-20 number-unit txt-inter">
                                of attendees
                            </div>
                        </div>
                    </div>
                </div>
                <p class="txt txt-17 txt-inter">
                    Vinamilk stores were another bright spot for growth, reflected via a 13% increase in revenue YoY. In December 2023, a store makeover was piloted in Vinamilk's headquarters, coupled with the change of name from “Giấc Mơ Sữa Việt” to “Vinamilk” for wider brand recognition. This is soon to be applied to the remaining 653 stores nationwide.
                </p>
                <p class="txt txt-17 txt-inter">
                    Vinamilk's online channel also saw a successful year with double-digit YoY sales growth, manifesting in over 4 million orders, 500,000 reaches, and 17,000 engagements on social media(1). This was owing to the successful implementation of the strategy to boost the Company's presence in e-commerce platforms, built upon its venture into this space in 2022.
                </p>
                <p class="txt txt-17 txt-inter">
                    Vinamilk has deployed a digital program at the outlets, which provides partners sales support while establishing direct customer engagement. At the same time, it gave the Company's deeper insights into the target customer profile, thereby facilitating product and service adjustments. The program has covered 1,165 stores across 63 provinces and cities, distributing over 373 thousand gifts. Additionally, Vinamilk Rewards program was also launched in Q4 2023. By joining this program, consumers are able to accumulate points through direct purchases from Vinamilk, which are then redeemed for various attractive gifts.
                </p>
                <p class="txt txt-17 txt-inter">
                    Regarding Moc Chau Dairy Cattle Breeding Joint Stock Company (Moc Chau Milk), it recored a net revenue of VND 3,135 billion in 2023, maintaining year-over-year stability, and a net profit of VND 747 billion, up 2.5% from the previous year. Besides, positive developments were also observed at Vietnam Livestock Corporation (Vilico). In particular, the construction of its key project, the beef farm and processing complex in collaboration with Sojitz (Japan) in Vinh Phuc province, commenced in early 2023 with a total investment of VND 3,000 billion. Given the current progress, which remains on schedule, the complex is anticipated to start operation by the end of 2024.
                </p>
                <div class="img-wrap spacer">
                    <Image src={rtWoman2} alt="" />
                </div>
                <h5 class="txt txt-17">
                    International business
                </h5>
                <p class="txt txt-17 txt-inter">
                    The International business's net revenue reached VND 9,752 billion, up 5.4% YoY. In which, Overseas subsidiaries and Exports contributed VND 5,039 billion and VND 4,713 billion, rising to 6.5% and 4.4% YoY respectively. Its gross profit, therefore, accounted for VND 3,651 billion, an impressive 9.3% increase YoY.
                </p>
                <p class="txt txt-17 txt-inter">
                    The overseas subsidiaries remain the growth engine of Vinamilk's international business in 2023. In the United States, Driftwood maintained revenue growth and recorded a seven-fold YoY increase in profit. Meanwhile, AngkorMilk ramped up marketing activation programs at schools, markets, and supermarkets, while collaborating with partners to survey milk consumption trends to reach Cambodian consumers in a more systematic and effective way. As a result, Angkormilk recorded impressive growth in revenue and profit in 2023, with an increase of 6% and 27% respectively, compared to the previous year.
                </p>
                <p class="txt txt-17 txt-inter">
                    For Export, Vinamilk successfully secured numerous high-value contracts for infant formula in the Middle Eastern market. The revenue from condensed milk, fresh milk, and yogurt products also experienced positive growth as Vinamilk has become a popular name in the Asian region. China, Vinamilk's emerging market, also witnessed encouraging signals, reflected via signed cooperative agreements with two leading companies specialized in import and distribution, an additional effort to penetrate this billion-population market. The first batch of Vinamilk's durian-flavored yogurt hit the shelves in China in early December. Prior to that, Vinamilk's flagship product, Ông Thọ sweetened condensed milk, officially made its debut in a major retail chain.
                </p>
                <div class="title-grp">
                    <h3 class="txt txt-17 txt-up txt-med">
                        IMPLEMENTATION OF THE 5-YEAR STRATEGIC PLAN FOR THE 2022-2026 PERIOD
                    </h3>
                    <h5 class="txt txt-17">
                        High quality products and superior consumer experience
                    </h5>
                </div>
                <p class="txt txt-17 txt-inter">
                    Keeping a close eye on consumption trends, Vinamilk has launched products tailored to the needs of each target segment. Therefore, the introduction of packaging, in line with a new brand identity, for the liquid milk category was the central theme over the past year. This packaging transformation is expected to be adopted for the remaining categories in 2024. Throughout 2023, over 10 products, ranging from mid-end to high-end segments, were launched and innovated. In addition, Vinamilk is developing solutions to enhance supply chain capabilities in the pursuit of optimal operations and seamless customer experience.
                </p>
                <p class="txt txt-17 txt-inter">
                    A crystal-clear testament to Vinamilk's endeavors in product and customer experience enhancement is our continued participation and attainment of many international awards, built upon a successful year of 2022. This includes the Clean Label Project and Purity Award (50 products), Monde Selection (4 products), and Superior Taste Award (8 products). Notably, Vinamilk Green Farm's UHT fresh milk has just won 2 additional awards from Monde Selection and Superior Taste Award, making it the first milk brand of Vinamilk to achieve all three prestigious accolades—Clean Label Project, Superior Taste Award, and Monde Selection.
                </p>
                <h5 class="txt txt-17">
                    Elevated adoption of advanced technologies into sustainable agriculture
                </h5>
                <p class="txt txt-17 txt-inter">
                    Amid the current complex scenario of climate change, Vinamilk has taken a proactive approach to researching, testing, and piloting new climate-resilient farming methods. In particular, priority is given to the application of new technologies in production (such as drone inspection and automatic center pivot systems), as well as the identification of appropriate cultivation methods (via the use of seeders, row seeders, etc.) for each raw material region. The goal is to replace traditional cultivation methods, leading to increased production efficiency, labor savings, and minimized environmental impact. The Company is proud that 100% of farms maintained GlobalG.A.P and ISO 9001-2015 certifications and 02 Organic Farms were recertified with EU Organic Certification.
                </p>
                <h5 class="txt txt-17">
                    Exploration of new business opportunities
                </h5>
                <p class="txt txt-17 txt-inter">
                    In addition to the core dairy business, we have actively looked out for business opportunities in new markets through mergers and acquisitions, joint ventures, or venture capital. This is exemplified by the success of the joint venture in the beef project, resulting in the establishment of the Japan Vietnam Livestock Co., Ltd. with Sojitz Corporation (Japan). We are now seeking suitable land funds to upscale the dairy farms in Vietnam.
                </p>
                <h5 class="txt txt-17">
                    Talent destination
                </h5>
                <p class="txt txt-17 txt-inter">
                    By creating a favorable environment for talent, Vinamilk has successfully maintained higher employee satisfaction and lower turnover rates compared to the industry average. This has enabled us to satisfy almost all recruitment needs over the past year. We also prioritize the recruitment of young talents equipped with extensive technological knowledge, ensuring a competent workforce for digital transformation and e-commerce development. Currently, at Vinamilk, Gen Y-Z accounts for 63.7% of the present young workforce, with 18.4% of middle- to upper-level managers aged 25-35.
                </p>
                <div class="box-future">
                    <h2 class="heading txt-36 txt-bold txt-up">
                        2024 OUTLOOK
                    </h2>
                    <div class="line line-decor-css"></div>
                    <p class="txt txt-17 txt-inter">
                        Stepping into 2024, Vinamilk anticipates a recovering macroeconomic picture, fostering continued growth in revenue and profitability. The Company's priority is a sustainable and profitable recovery of market share and sales volume. This justifies our ongoing focus on solutions for optimal operations, thereby generating additional budgets for market development and brand power enhancement. Innovation and creativity remain central themes guiding the Company's future endeavors. This focus ensures that Vinamilk not only delivers delicious and high-quality products but also establishes itself as a brand endorsed by multiple generations of consumers, particularly the younger demographic.
                    </p>
                    <p class="txt txt-17 txt-inter">
                        I believe Vinamilk is well-positioned for <span class="txt-bold txt-blue">CHANGE</span> and headed for a new growth cycle, and we do <span class="txt-bold txt-blue">CARE</span> about this opportunity. Given that journey, a robust financial platform is a huge advantage for Vinamilk as it gives us the flexibility to make decisions and adjustments in response to market fluctuations. Combined with the <span class="txt-bold txt-blue">“CARE TO CHANGE”</span> spirit instilled in every Vinamilk employee, this trump card will empower us to effectively overcome challenges ahead and seize growth opportunities.
                    </p>
                </div>
                <!-- <div class="sign">
                    <div class="txt txt-17 txt-med sign-name">
                        Mai Kiều Liên
                    </div>
                    <div class="txt txt-17 sign-job">
                        Tổng Giám Đốc
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .mess-richtxt {
        padding-block: 8.3rem 10.3rem;
        @media screen and (max-width: 767px) {
            padding-block: 4.3rem 5.4rem;
        }
        &-title {
            margin-bottom: 1.8rem;
            color: var(--cl-blue);
            @media screen and (max-width: 767px) {
                margin-bottom: 2.8rem;
            }
        }
        &-main {
            grid-column: 1/-1;
            .richtxt {
                columns: 2;
                column-gap: var(--grid-gap);
                @media screen and (max-width: 767px) {
                    columns: 1;
                }
                p {
                    color: var(--cl-txt);
                    margin-bottom: 2rem;
                }
                h2 {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                h3 {
                    color: var(--cl-blue-2);
                    margin-bottom: 2rem;
                }
                h4 {
                    color: var(--cl-blue-2);
                    margin-bottom: 2rem;
                    max-width: 50.3rem;
                }
                h5 {
                    color: var(--cl-blue-2);
                    margin-bottom: 2rem;
                }
                .box-future {
                    margin-top: 4rem;
                    padding-block: 2rem 3.6rem;
                    padding-inline: 3rem;
                    border-radius: 1.4rem;
                    background-color: var(--cl-purple-light);
                    @media screen and (max-width: 767px) {
                        padding-inline: 2rem;
                        margin-top: 3.2rem;
                        padding-bottom: 3.2rem;
                    }
                    h2 {
                        text-align: center;
                        font-size: 5.4rem;
                        line-height: 1.2em;
                        margin-bottom: 1.5rem;
                        @media screen and (max-width: 767px) {
                            font-size: 3.6rem;
                        }
                    }
                    .line-decor-css {
                        height: .4rem;
                        --angle: 90deg;
                        background: repeating-linear-gradient(
                            var(--angle),
                            var(--cl-blue),
                            var(--cl-blue) 3.2rem,
                            var(--cl-blue-2) 3.2rem,
                            var(--cl-blue-2) 6.4rem
                        );
                    }
                    p {
                        margin-top: 2rem;
                    }
                }
                .img-wrap {
                    overflow: hidden;
                    border-radius: 1.4rem;
                    margin-block: 3.2rem 4rem;
                    &.spacer {
                        margin-block: 4.4rem 26rem;
                        @media screen and (max-width: 767px) {
                            margin-block: 2rem 3.2rem;
                        }
                    }
                }
                .title-grp {
                    h3 {
                        margin-bottom: 0;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 1.2rem;
                        }
                    }
                }
                .grid {
                    margin-block: 6.2rem 4.2rem;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: var(--grid-gap);
                    @media screen and (max-width: 767px) {
                        grid-template-columns: 1fr;
                        row-gap: 2rem;
                        margin-block: 2.4rem;
                    }
                    &-item {
                        border-radius: 1.4rem;
                        overflow: hidden;
                        color: var(--cl-bg);
                        .box-content {
                            padding-block: 2rem;
                            padding-inline: 2rem;
                            @media screen and (max-width: 767px) {
                                padding-block: 2.4rem 3.2rem;
                                padding-inline: 3.2rem;
                            }
                        }
                        &.left {
                            background-color: var(--cl-blue-2);
                            .label {
                                margin-bottom: -.5rem;
                            }
                            .number-value {
                                margin-bottom: -.7rem;
                                @media screen and (max-width: 767px) {
                                    font-size: 12.8rem;
                                }
                            }
                        }
                        &.right {
                            background-color: var(--cl-green);
                            .label {
                                margin-bottom: .7rem;
                            }
                            .number-value {
                                margin-right: -1rem;
                                margin-bottom: -.1rem;
                                @media screen and (max-width: 767px) {
                                    font-size: 8rem;
                                    line-height: 9rem;
                                    margin-right: -2rem;
                                }
                            }
                        }
                    }
                }
                .sign {
                    margin-top: 4rem;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    &-img {
                        max-width: 17.3rem;
                        margin-bottom: 1rem;
                    }
                    &-name {
                        margin-bottom: -.3rem;
                        color: var(--cl-blue);
                    }
                    &-job {
                        color: var(--cl-blue-3);
                    }
                }
            }
        }
    }
</style>