---
import { Image } from "astro:assets"
import signWoman from '../../assets/sign-woman.png'; 
import rtWoman1 from '../../assets/rt-woman-1.jpg';
import rtWoman2 from '../../assets/rt-woman-2.jpg';
---
<section class="mess-richtxt">
    <div class="container grid">
        <div class="mess-richtxt-main">
            <h2 class="heading txt-36 txt-bold mess-richtxt-title">
                Kính thưa Quý Cổ đông
            </h2>
            <div class="richtxt">
                <p class="txt txt-17 txt-inter">
                    Hoạt động kinh doanh của Vinamilk trong năm 2023 phản ánh những gam màu trái ngược nhau. Một mặt, sức tiêu thụ các mặt hàng tiêu dùng nhanh đã suy yếu đáng kể, với mức tăng trưởng âm trong giai đoạn 6 tháng cuối năm dưới tác động của các thách thức vĩ mô trong và ngoài nước. Mặt khác, chuỗi cung ứng toàn cầu hậu đại dịch đã ổn định trở lại giúp chúng tôi kiểm soát các chi phí sản xuất hiệu quả hơn. Trong bối cảnh trên, tập thể cán bộ công nhân viên của Vinamilk đã thích nghi và tận dụng mọi nguồn lực, lợi thế cạnh tranh để hoàn thành cao nhất kế hoạch kinh doanh.
                </p>
                <h4 class="txt txt-17 txt-med txt-up">
                    Kết quả kinh doanh năm 2023
                </h4>
                <p class="txt txt-17 txt-inter">
                    Kết thúc năm 2023, Vinamilk ghi nhận tổng doanh thu hợp nhất đạt 60.479 tỷ đồng, tăng 404 tỷ đồng so với cùng kỳ và hoàn thành 95% kế hoạch. Lợi nhuận sau thuế hợp nhất đạt 9.019 tỷ đồng, tăng 472 tỷ đồng so với cùng kỳ và vượt kế hoạch 5% nhờ quản trị hiệu quả chi phí sản xuất và vận hành.
                </p>
                <h5 class="txt txt-17">
                    Thị trường nội địa
                </h5>
                <div class="img-wrap">
                    <Image src={rtWoman1} alt="" />
                </div>
                <p class="txt txt-17 txt-inter">
                    Thị trường nội địa ghi nhận doanh thu thuần hợp nhất đạt 50.617 tỷ đồng, ổn định so với cùng kỳ trong bối cảnh ngành sữa Việt Nam suy giảm, nhờ kết quả tích cực từ các ngành hàng sữa đặc, sữa chua và sữa hạt. Lợi nhuận gộp nội địa hợp nhất đạt 20.894 tỷ đồng, tăng 1,6% so với cùng kỳ.
                </p>
                <p class="txt txt-17 txt-inter">
                    Dấu ấn trong năm 2023 là sự kiện giới thiệu bộ nhận diện thương hiệu mới vào tháng 7, thể hiện tính cách “táo bạo, quyết tâm, luôn là chính mình” của Vinamilk và đại diện cho nguồn năng lượng trẻ trung và khát khao của người Việt. Vào tháng 8, chúng tôi cũng đã “thay áo” cho toàn bộ sản phẩm sữa nước theo thương hiệu mới. Đồng thời, tổ chức nhiều hoạt động marketing quy mô để gia tăng độ nhận diện thương hiệu đến người tiêu dùng.
                </p>
                <div class="grid">
                    <div class="grid-item bg-stripe left">
                        <div class="box-content">
                            <div class="txt txt-20 label txt-inter">
                                Triển lãm đa giác quan “Chu Du Miền Vị Giác” cho nhãn hàng sữa tươi chủ lực Green Farm đã thu hút được gần
                            </div>
                            <div class="heading txt-96 txt-up txt-bold number-value">
                                7.000
                            </div>
                            <div class="txt txt-20 number-unit txt-inter">
                                khách tham quan
                            </div>
                        </div>
                    </div>
                    <div class="grid-item bg-stripe right">
                        <div class="box-content">
                            <div class="txt txt-20 label txt-inter">
                                Các gian hàng giới thiệu sản phẩm tại sự kiện âm nhạc Gen Fest 2023 và phố đi bộ Nguyễn Huệ trong dịp Tết Giáp Thìn 2024 với
                            </div>
                            <div class="heading txt-64 txt-up txt-bold number-value">
                                hàng chục nghìn
                            </div>
                            <div class="txt txt-20 number-unit txt-inter">
                                lượt tiếp cận
                            </div>
                        </div>
                    </div>
                </div>
                <p class="txt txt-17 txt-inter">
                    Điểm sáng tăng trưởng đến từ các cửa hàng do Vinamilk vận hành với doanh thu tăng 13% so với cùng kỳ. Trong tháng 12/2023, chúng tôi đã ra mắt thí điểm diện mạo mới cho cửa hàng tại trụ sở chính và thay đổi tên gọi từ “Giấc Mơ Sữa Việt” thành “Vinamilk” để dễ nhớ hơn với người tiêu dùng. Trong thời gian tới, chúng tôi sẽ tiến hành nâng cấp các cửa hàng còn lại trong hệ thống 653 cửa hàng trên cả nước.
                </p>
                <p class="txt txt-17 txt-inter">
                    Kênh bán hàng trực tuyến cũng ghi nhận một năm thành công với doanh thu tăng trưởng gấp đôi so với cùng kỳ, hoàn thành hơn 4 triệu đơn hàng, thu hút 500 nghìn lượt tiếp cận và 17 nghìn lượt tương tác trên mạng xã hội(1). Đây là kết quả của việc thực thi thành công chiến lược thâm nhập sâu hơn vào các sàn thương mại điện tử mà chúng tôi đã đặt nền móng xây dựng từ năm 2022.
                </p>
                <p class="txt txt-17 txt-inter">
                    Tại các điểm lẻ, Vinamilk đang triển khai nhiều giải pháp công nghệ nhằm nhận dạng rõ nét đối tượng khách hàng mục tiêu cũng như sở thích tiêu dùng của họ, qua đó có những điều chỉnh phù hợp nhất về sản phẩm và dịch vụ. Thông qua các chương trình đã triển khai, Vinamilk đã trao hơn 373 nghìn phần quà tặng trực tiếp đến người tiêu dùng tại 1.165 cửa hàng phủ khắp 63 tỉnh, thành phố. Bên cạnh đó, trong quý 4 năm 2023, Công ty đã ra mắt chương trình Vinamilk Rewards, cho phép người tiêu dùng tích điểm khi mua sắm với Vinamilk và đổi điểm lấy các phần quà.
                </p>
                <p class="txt txt-17 txt-inter">
                    Đối với CTCP Giống Bò Sữa Mộc Châu (“Mộc Châu Milk”), doanh thu thuần năm 2023 đạt 3.135 tỷ đồng, ổn định so với cùng kỳ và lợi nhuận sau thuế đạt 747 tỷ đồng, tăng 2,5% so với cùng kỳ. Đối với Tổng Công ty Chăn nuôi Việt Nam (“Vilico”), dự án trọng điểm xây dựng trang trại và nhà máy chế biến bò thịt thuộc liên doanh với đối tác Sojitz (Nhật Bản) đã được khởi công vào đầu năm 2023 tại tỉnh Vĩnh Phúc với tổng vốn đầu tư 3.000 tỷ đồng. Tiến độ triển khai dự án đang bám sát kế hoạch và liên doanh dự kiến sẽ đưa tổ hợp này vào khai thác vào cuối năm 2024.
                </p>
                <div class="img-wrap spacer">
                    <Image src={rtWoman2} alt="" />
                </div>
                <h5 class="txt txt-17 txt-inter">
                    Thị trường nước ngoài
                </h5>
                <p class="txt txt-17 txt-inter">
                    Doanh thu thuần của thị trường nước ngoài đạt 9.752 tỷ đồng, tăng 5,4% so với cùng kỳ, trong đó, Các chi nhánh nước ngoài đóng góp 5.039 tỷ đồng và hoạt động Xuất khẩu đóng góp 4.713 tỷ đồng, tăng lần lượt 6,5% và 4,4% so với cùng kỳ. Lợi nhuận gộp từ Thị trường nước ngoài đạt 3.651 tỷ đồng, tăng ấn tượng 9,3% so với cùng kỳ.
                </p>
                <p class="txt txt-17 txt-inter">
                    Các chi nhánh nước ngoài tiếp tục là đầu tàu tăng trưởng cho hoạt động kinh doanh quốc tế của Vinamilk trong năm 2023. Năm 2023, Driftwood tại Hoa Kỳ đã duy trì tăng trưởng doanh thu và tăng trưởng lợi nhuận gấp 7 lần so với cùng kỳ. Trong khi đó, Angkormilk đã đẩy mạnh chương trình kích hoạt marketing tại các trường học, chợ, siêu thị và phối hợp với các đối tác khảo sát xu hướng tiêu dùng sữa để tiếp cận người tiêu dùng Campuchia một cách bài bản và hiệu quả hơn. Nhờ đó, doanh thu và lợi nhuận năm 2023 của Angkormilk ghi nhận mức tăng trưởng ấn tượng lần lượt là 6% và 27% so với cùng kỳ.
                </p>
                <p class="txt txt-17 txt-inter">
                    Đối với Xuất khẩu, Vinamilk đã ký kết thành công nhiều hợp đồng xuất khẩu lớn cung cấp sữa bột trẻ em tại thị trường Trung Đông. Doanh thu các sản phẩm sữa đặc, sữa tươi và sữa chua ăn cũng tăng trưởng tích cực khi sản phẩm của Vinamilk ngày càng được ưa chuộng bởi người tiêu dùng trong khu vực Châu Á. Thị trường mới Trung Quốc cũng đón tín hiệu khả quan đến sau khi Vinamilk ký thỏa thuận hợp tác hai doanh nghiệp hàng đầu trong lĩnh vực nhập khẩu - phân phối để đưa sản phẩm sữa vào thị trường tỷ dân này. Lô sữa chua hương vị sầu riêng đầu tiên của Vinamilk đã được lên kệ hàng tại Trung Quốc vào khoảng đầu tháng 12. Trước đó, sữa đặc Ông Thọ - sản phẩm chủ lực của Vinamilk tại thị trường Trung Quốc - đã chính thức có mặt tại chuỗi bán lẻ lớn tại Quảng Châu.
                </p>
                <div class="title-grp">
                    <h3 class="heading txt-24 txt-up txt-bold">
                        TÌNH HÌNH THỰC THI CHIẾN LƯỢC 5 NĂM GIAI ĐOẠN 2022-2026
                    </h3>
                    <h5 class="txt txt-17 txt-inter">
                        Sản phẩm và trải nghiệm ưu việt cho người tiêu dùng
                    </h5>
                </div>
                <p class="txt txt-17 txt-inter">
                    Vinamilk đã theo sát các xu hướng tiêu dùng và giới thiệu nhiều sản phẩm phù hợp với nhu cầu của từng tập khách hàng mục tiêu. Giới thiệu bao bì theo bộ nhận diện thương hiệu mới cho ngành hàng sữa nước là chủ đề chính trong năm qua. Chúng tôi dự kiến tiếp tục giới thiệu bao bì mới cho các ngành hàng còn lại trong năm 2024. Tính cả năm, chúng tôi đã tung ra thị trường và cải tiến trên 10 sản phẩm ở nhiều phân khúc từ phổ thông tới cao cấp. Bên cạnh đó, chúng tôi đang nghiên cứu các giải pháp để nâng cao năng lực chuỗi cung ứng để tối ưu vận hành và nâng tầm trải nghiệm khách hàng. 
                </p>
                <p class="txt txt-17 txt-inter">
                    Minh chứng rõ nét nhất cho nỗ lực này của chúng tôi là Vinamilk tiếp tục tham gia và đạt nhiều giải thưởng quốc tế, tiếp nối thành công của năm 2022, bao gồm: Clean Label Project và Purity Award (50 sản phẩm), Monde Selection (4 sản phẩm), Superior Taste Award (8 sản phẩm). Trong đó, sản phẩm sữa tươi tiệt trùng Vinamilk Green Farm đạt thêm 2 giải thưởng Monde Selection và Superior Taste Award, trở thành thương hiệu sữa đầu tiên của Vinamilk đạt cả 3 giải thưởng danh giá là Clean Label Project, Superior Taste Award và Monde Selection.
                </p>
                <h5 class="txt txt-17 txt-inter">
                    Đẩy mạnh ứng dụng công nghệ cao vào nông nghiệp bền vững
                </h5>
                <p class="txt txt-17 txt-inter">
                    Trong điều kiện biến đổi khí hậu diễn biến phức tạp hiện nay, Vinamilk luôn chủ động trong công tác đầu tư nghiên cứu, thử nghiệm các phương thức canh tác sản xuất mới nhằm chủ động thích ứng với điều kiện biến đổi khí hậu. Áp dụng các công nghệ kỹ thuật mới vào hoạt động canh tác sản xuất như ứng dụng phương tiện bay không người lái (drone) vào quản lý đồng ruộng, hệ thống pivot tưới tự động, thử nghiệm các loại hình canh tác phù hợp với từng vùng nguyên liệu như máy cấy, máy gieo sạ hàng… được chúng tôi ưu tiên nhằm thay thế các phương pháp canh tác truyền thống. Việc này giúp gia tăng hiệu quả sản xuất, tiết kiệm nhân công, giảm thiểu ảnh hưởng đến môi trường tự nhiên. Chúng tôi tự hào khi 100% trang trại giữ vững tiêu chuẩn GlobalG.A.P, ISO 9001-2015, trong đó có 02 trang trại Organic tiếp tục được tái cấp chứng nhận Hữu cơ Châu Âu.
                </p>
                <h5 class="txt txt-17 txt-inter">
                    Khởi tạo cơ hội kinh doanh mới
                </h5>
                <p class="txt txt-17 txt-inter">
                    Bên cạnh ngành kinh doanh sữa chủ đạo, chúng tôi vẫn tích cực khai thác cơ hội kinh doanh tại các thị trường mới thông qua các hoạt động mua bán & sáp nhập, liên doanh hoặc đầu tư mạo hiểm. Việc hợp tác thành công liên doanh dự án bò thịt và thành lập công ty TNHH Chăn nuôi Việt Nhật với đối tác Sojitz Corporation (Nhật Bản) là ví dụ tiêu biểu cho thực thi chiến lược này. Chúng tôi cũng đang tìm kiếm các quỹ đất phù hợp để mở rộng quy mô trang trại bò sữa tại Việt Nam.
                </p>
                <h5 class="txt txt-17 txt-inter">
                    Trở thành đích đến của nhân tài
                </h5>
                <p class="txt txt-17 txt-inter">
                    Nhờ tạo ra môi trường hấp dẫn với nhân tài, Vinamilk đã giữ thành công tỷ lệ hài lòng của nhân viên ở mức cao hơn và tỷ lệ nghỉ việc thấp hơn so với mặt bằng chung của thị trường lao động. Nhờ đó, chúng tôi có thể đáp ứng gần như toàn bộ nhu cầu tuyển dụng trong năm qua. Chúng tôi cũng hướng trọng tâm đến các nhân tài trẻ có kiến thức công nghệ tốt nhằm đảm bảo nguồn lực phục vụ chuyển đổi số và phát triển thương mại điện tử. Hiện nay tại Vinamilk, thế hệ Gen Y-Z đang chiếm 63,7% lao động; trong đó có 18,4% nhân sự là quản lý cấp trung trở lên ở độ tuổi 25-35.
                </p>
                <h2 class="heading txt-36 txt-bold txt-up">
                    TRIỂN VỌNG TƯƠNG LAI
                </h2>
                <p class="txt txt-17 txt-inter">
                    Bước sang năm 2024, với kỳ vọng tình hình vĩ mô sẽ cải thiện, chúng tôi dự kiến doanh thu và lợi nhuận của Vinamilk sẽ tiếp tục tăng trưởng. Ưu tiên của chúng tôi là tiếp tục phục hồi thị phần và doanh số bán hàng một cách bền vững và có lợi nhuận. Đó là lý do chúng tôi sẽ duy trì sự tập trung vào các giải pháp tối ưu vận hành để có thêm ngân sách phục vụ phát triển thị trường và củng cố sức mạnh thương hiệu. Đổi mới và sáng tạo sẽ tiếp tục là chủ đề hành động xuyên suốt trong thời gian tới để đảm bảo Vinamilk không chỉ cung cấp các sản phẩm ngon, chất lượng mà còn là một thương hiệu được yêu quý bởi nhiều thế hệ người tiêu dùng, đặc biệt là người tiêu dùng tr
                </p>
                <p class="txt txt-17 txt-inter">
                    Tôi tin rằng Vinamilk đang ở một thời điểm lý tưởng để THAY ĐỔI và tạo ra một chu kỳ tăng trưởng mới, và chúng tôi rất ĐỂ TÂM đến cơ hội này. Việc sở hữu nền tảng tài chính vững mạnh là một lợi thế lớn để chúng tôi có sự linh hoạt khi đưa ra những quyết định cũng như các điều chỉnh phù hợp với biến động thị trường. Lợi thế này, kết hợp với tinh thần “ĐỂ TÂM THAY ĐỔI” trong mỗi con người Vinamilk sẽ cho phép chúng tôi vượt qua các thách thức trước mắt và nắm bắt các cơ hội tăng trưởng một cách hiệu quả nhất.
                </p>
                <!-- <div class="sign">
                    <div class="txt txt-17 txt-med sign-name">
                        Mai Kiều Liên
                    </div>
                    <div class="txt txt-17 sign-job">
                        Tổng Giám Đốc
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<style lang="scss">
    .mess-richtxt {
        padding-block: 8.3rem 16.3rem;
        &-title {
            margin-bottom: 1.8rem;
            color: var(--cl-blue);
        }
        &-main {
            grid-column: 1/-1;
            
            .richtxt {
                columns: 2;
                column-gap: var(--grid-gap);
                p {
                    color: var(--cl-txt);
                    margin-bottom: 2rem;
                }
                h2 {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                h3 {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                h4 {
                    color: var(--cl-blue);
                    margin-bottom: 2rem;
                }
                h5 {
                    color: var(--cl-blue-2);
                    margin-bottom: 2rem;
                }
                .img-wrap {
                    overflow: hidden;
                    border-radius: 1.4rem;
                    margin-block: 3.2rem 4rem;
                    &.spacer {
                        margin-block: 4.8rem 26rem;
                    }
                }
                .title-grp {
                    h3 {
                        margin-bottom: 0;
                    }
                }
                .grid {
                    margin-block: 6.2rem 4.2rem;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: var(--grid-gap);
                    &-item {
                        border-radius: 1.4rem;
                        overflow: hidden;
                        color: var(--cl-bg);
                        .box-content {
                            padding-block: 2rem;
                            padding-inline: 2rem;
                        }
                        &.left {
                            background-color: var(--cl-blue-2);
                            .label {
                                margin-bottom: -.5rem;
                            }
                            .number-value {
                                margin-bottom: -.7rem;
                            }
                        }
                        &.right {
                            background-color: var(--cl-green);
                            .label {
                                margin-bottom: .7rem;
                            }
                            .number-value {
                                margin-right: -1rem;
                                margin-bottom: -.1rem;
                            }
                        }
                    }
                }
                .sign {
                    margin-top: 4rem;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    &-img {
                        max-width: 17.3rem;
                        margin-bottom: 1rem;
                    }
                    &-name {
                        margin-bottom: -.3rem;
                        color: var(--cl-blue);
                    }
                    &-job {
                        color: var(--cl-blue-3);
                    }
                }
            }
        }
    }
</style>