@font-face {
    font-family: 'vnm-sans';
    src: url('/fonts/VNMSans-Display-Regular.otf') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'vnm-sans';
    src: url('/fonts/VNMSans-Display-Medium.otf') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'vnm-sans';
    src: url('/fonts/VNMSans-Display-Bold.otf') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'vnm-std';
    src: url('/fonts/VNMSansStd-Regular.otf') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'vnm-std';
    src: url('/fonts/VNMSansStd-Medium.otf') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'vnm-std';
    src: url('/fonts/VNMSansStd-Bold.otf') format('woff');
    font-weight: 700;
    font-display: swap;
}
