---
import { getImage } from "astro:assets";
import chartPattern from '../../assets/chart-pattern.svg';
const chartPatternBg = await getImage({src: chartPattern, format: 'webp', width: chartPattern.width})
---
<section class="chap1-cha" style={`--chart-bg: url(${chartPatternBg.src})`}>
    <div class="container">
        <h2 class="heading txt-78 txt-bold txt-up txt-blue chap1-cha-title" data-aos="fade-up">
            Tóm tắt thông tin tài chính 2019-2023
        </h2>
        <div class="chap1-cha-main">
            <div class="cha-item">
                <div class="txt txt-17 label-wrap" data-aos="fade-up">
                    <div class="label-txt">Doanh thu</div>
                    <div class="label-unit">(Tỷ đồng)</div>
                </div>
                <div class="cha-main" style="--col-bg: #D3E1FF">
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 68.6%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                56.400
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2019
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 77.8%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                59.723
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2020
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 80%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                61.012
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2021
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 77%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                60.075
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2022
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner last" style="--col-h: 78%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                60.479
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2023
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="cha-item">
                <div class="txt txt-17 label-wrap" data-aos="fade-up">
                    <div class="label-txt">Lợi nhuận trước thuế, lãi vay và khấu hao</div>
                    <div class="label-unit">(Tỷ đồng)</div>
                </div>
                <div class="cha-main" style="--col-bg: #2DFFB4">
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 53%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                14.853
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2019
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 57%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                15.871
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2020
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 54%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                15.132
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2021
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 45.6%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                12.757
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2022
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner last" style="--col-h: 47.8%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                13.377
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2023
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="cha-item">
                <div class="txt txt-17 label-wrap" data-aos="fade-up">
                    <div class="label-txt">Lợi nhuận sau thuế</div>
                    <div class="label-unit">(Tỷ đồng)</div>
                </div>
                <div class="cha-main" style="--col-bg: #D5C2FA">
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 50%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                10.554
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2019
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 52.2%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                11.236
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2020
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 50.5%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                10.633
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2021
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 40.4%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                8.578
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2022
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner last" style="--col-h: 42.6%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                9.019
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2023
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="cha-item">
                <div class="txt txt-17 label-wrap" data-aos="fade-up">
                    <div class="label-txt">Tổng tài sản</div>
                    <div class="label-unit">(Tỷ đồng)</div>
                </div>
                <div class="cha-main" style="--col-bg: #FFEE53">
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 76%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                44.700
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2019
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 81.7%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                48.432
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2020
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 90%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                53.332
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2021
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 81.7%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                48.483
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2022
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner last" style="--col-h: 91.1%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                52.673
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2023
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="cha-item">
                <div class="txt txt-17 label-wrap" data-aos="fade-up">
                    <div class="label-txt">Thu nhập mỗi cổ phần</div>
                    <div class="label-unit">(Đồng)</div>
                </div>
                <div class="cha-main" style="--col-bg: #F1D6C0">
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 70.1%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                4.565
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2019
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 73.9%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                4.770
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2020
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 70%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                4.517
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2021
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 56%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                3.632
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2022
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner last" style="--col-h: 58.6%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                3.796
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2023
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="cha-item">
                <div class="txt txt-17 label-wrap" data-aos="fade-up">
                    <div class="label-txt">Hệ số chi trả cổ tức (dự kiến)</div>
                    <div class="label-unit">(%)</div>
                </div>
                <div class="cha-main" style="--col-bg: #F2ABC4">
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 70%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                74
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2019
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 66.9%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                71
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2020
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 72.2%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                76
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2021
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner" style="--col-h: 89.6%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                94
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2022
                        </div>
                    </div>
                    <div class="cha-col">
                        <div class="cha-col-inner last" style="--col-h: 86%" data-aos="zoom-in-up">
                            <div class="txt txt-11 cha-value">
                                91
                            </div>
                        </div>
                        <div class="txt txt-11 cha-year">
                            2023
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .chap1-cha {
        padding-bottom: 9rem;
        @media screen and (max-width: 767px) {
            padding-bottom: 4rem;
        }
        &-title {
            margin-bottom: 6.8rem;
            max-width: 78rem;
            line-height: 8.5rem;
            width: 100%;
            margin-inline: auto;
            text-align: center;
            @media screen and (max-width: 767px) {
                font-size: 4.2rem;
                line-height: 1em;
                margin-bottom: 2.4rem;
            }
        }
        &-main {
            max-width: 99.4rem;
            margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: var(--grid-gap);
            row-gap: 4.4rem;
            @media screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                row-gap: 2.5rem;
            }
            .cha-item {
                color: var(--cl-blue-2);
                .label-wrap {
                    line-height: 1.2em;
                    margin-bottom: 3.2rem;
                    @media screen and (max-width: 767px) {
                        .label-txt, .label-unit {
                            font-size: 1.4rem;
                            display: inline;
                        }
                    }
                }
                .cha-main {
                    height: 23rem;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    padding-inline: 3rem;
                    @media screen and (max-width: 767px) {
                        height: 18rem;
                        padding-inline: 2rem;
                    }
                    .line {
                        background-color: var(--cl-blue);
                        position: absolute;
                        left: 0;
                        bottom: 2.21rem;
                    }
                    .cha-col {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: end;
                        &-inner {
                            width: 4.8rem;
                            height: var(--col-h);
                            background-color: var(--col-bg);
                            position: relative;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            @media screen and (max-width: 767px) {
                                width: 4rem;
                            }
                            &.last {
                                position: relative;
                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    inset: 0;
                                    background-image: var(--chart-bg);
                                    background-size: 100% auto;
                                    mix-blend-mode: color-dodge;
                                    opacity: .7;
                                    filter: invert(1);
                                    @media screen and (max-width: 767px) {
                                        background-size: 102% auto;
                                    }
                                }
                                
                                
                            }
                            .cha-value {
                                position: absolute;
                                bottom: 100%;
                                margin-bottom: 1rem;
                            }
                        }
                        .cha-year {
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
</style>
