---
---
<section class="chap1-tab">
    <div class="container">
        <div class="chap1-tab-main">
            <div class="row title-wrap">
                <div class="txt txt-24 txt-med title">Các chỉ tiêu tài chính quan trọng</div>
                <div class="txt txt-17 txt-bold value">2019</div>
                <div class="txt txt-17 txt-bold value">2020</div>
                <div class="txt txt-17 txt-bold value">2021</div>
                <div class="txt txt-17 txt-bold value">2022</div>
                <div class="txt txt-17 txt-bold value">2023</div>
                <div class="line-decor-css"></div>
            </div>
            <div class="row head-wrap">
                <div class="txt txt-17 txt-bold title">1. Chỉ tiêu về khả năng thanh toán</div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số thanh toán ngắn hạn</div>
                <div class="txt txt-17 value">1,71</div>
                <div class="txt txt-17 value">2,09</div>
                <div class="txt txt-17 value">2,12</div>
                <div class="txt txt-17 value">2,06</div>
                <div class="txt txt-17 value">2,10</div>
                <div class="line"></div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số thanh toán nhanh</div>
                <div class="txt txt-17 value">1,37</div>
                <div class="txt txt-17 value">1,74</div>
                <div class="txt txt-17 value">1,72</div>
                <div class="txt txt-17 value">1,70</div>
                <div class="txt txt-17 value">1,74</div>
                <div class="line"></div>
            </div>
            <div class="row head-wrap">
                <div class="txt txt-17 txt-bold title">2. Chỉ tiêu về cơ cấu vốn</div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số Nợ/Tổng tài sản</div>
                <div class="txt txt-17 value">12,2%</div>
                <div class="txt txt-17 value">15,5%</div>
                <div class="txt txt-17 value">17,7%</div>
                <div class="txt txt-17 value">10,2%</div>
                <div class="txt txt-17 value">16,1%</div>
                <div class="line"></div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số Nợ/Vốn chủ sở hữu</div>
                <div class="txt txt-17 value">18,4%</div>
                <div class="txt txt-17 value">22,2%</div>
                <div class="txt txt-17 value">26,4%</div>
                <div class="txt txt-17 value">15,0%</div>
                <div class="txt txt-17 value">24,1%</div>
                <div class="line"></div>
            </div>
            <div class="row head-wrap">
                <div class="txt txt-17 txt-bold title">3. Chỉ tiêu về năng lực hoạt động</div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Vòng quay hàng tồn kho</div>
                <div class="txt txt-17 value">5,66</div>
                <div class="txt txt-17 value">6,47</div>
                <div class="txt txt-17 value">5,93</div>
                <div class="txt txt-17 value">5,86</div>
                <div class="txt txt-17 value">6,14</div>
                <div class="line"></div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Vòng quay tổng tài sản</div>
                <div class="txt txt-17 value">1,37</div>
                <div class="txt txt-17 value">1,28</div>
                <div class="txt txt-17 value">1,20</div>
                <div class="txt txt-17 value">1,18</div>
                <div class="txt txt-17 value">1,19</div>
                <div class="line"></div>
            </div>
            <div class="row head-wrap">
                <div class="txt txt-17 txt-bold title">3. Chỉ tiêu về khả năng sinh lời</div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số Lợi nhuận sau thuế/Doanh thu thuần</div>
                <div class="txt txt-17 value">18,7%</div>
                <div class="txt txt-17 value">18,8%</div>
                <div class="txt txt-17 value">17,5%</div>
                <div class="txt txt-17 value">14,3%</div>
                <div class="txt txt-17 value">14,9%</div>
                <div class="line"></div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số Lợi nhuận sau thuế/Vốn chủ sở hữu</div>
                <div class="txt txt-17 value">35,5%</div>
                <div class="txt txt-17 value">33,4%</div>
                <div class="txt txt-17 value">29,7%</div>
                <div class="txt txt-17 value">26,1%</div>
                <div class="txt txt-17 value">25,8%</div>
                <div class="line"></div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số Lợi nhuận sau thế/Tổng tài sản</div>
                <div class="txt txt-17 value">23,6%</div>
                <div class="txt txt-17 value">23,2%</div>
                <div class="txt txt-17 value">19,9%</div>
                <div class="txt txt-17 value">17,7%</div>
                <div class="txt txt-17 value">17,1%</div>
                <div class="line"></div>
            </div>
            <div class="row cell-wrap">
                <div class="txt txt-17 title">• Hệ số Lợi nhuận từ hoạt động kinh doanh/Doanh thu thuần</div>
                <div class="txt txt-17 value">22,7%</div>
                <div class="txt txt-17 value">22,7%</div>
                <div class="txt txt-17 value">20,9%</div>
                <div class="txt txt-17 value">17,5%</div>
                <div class="txt txt-17 value">18,1%</div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .chap1-tab {
        padding-bottom: 12.4rem;
        &-main {
            display: flex;
            flex-direction: column;
            .row {
                display: grid;
                grid-template-columns: 4.8fr 1.04fr 1.04fr 1.04fr 1.04fr 1.04fr;
                align-items: center;
                column-gap: var(--grid-gap);
                &.title-wrap {
                    position: relative;
                    height: 5.6rem;
                    .title {
                        color: var(--cl-green);
                    }
                    .value {
                        color: var(--cl-blue);
                    }
                    .line-decor-css {
                        height: .6rem;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        --angle: 90deg;
                        background: repeating-linear-gradient(
                            var(--angle),
                            var(--cl-blue),
                            var(--cl-blue) 2.5rem,
                            var(--cl-blue-2) 2.5rem,
                            var(--cl-blue-2) 5.0rem
                        );
                    }
                }
                &.head-wrap {
                    background-color: var(--cl-purple-light);
                    height: 4.8rem;
                    .title {
                        padding-inline: .8rem;
                    }
                }
                &.cell-wrap {
                    position: relative;
                    min-height: 4.8rem;
                    .title {
                        padding-block: 1rem;
                        padding-left: .8rem;
                    }
                    .line {
                        position: absolute;
                        background-color: var(--cl-blue);
                        width: 100%;
                        bottom: 0;
                        left: 0;
                    }
                }

            }
        }
    }
</style>