---
import { Image } from "astro:assets";
import homeHeroBg from '../../assets/home-hero.jpg';
import { getImage } from "astro:assets";
import bgTexture from "../../assets/home-hero-pattern.jpg";
const OpBgTexture = await getImage({src: bgTexture, format: 'webp', width: bgTexture.width / 2})
const {content} = Astro.props;
---
<section class="home-hero">
    <div class="container">
        <div class="home-hero-img">
            <Image src={homeHeroBg} alt="" class="img-h img-fit img-fit-bot" data-aos="fade-up" data-aos-delay="200" />
            <div class="home-hero-pattern home-hero-pattern-left"style={`--bg-txt: url(${OpBgTexture.src})`}></div>
        </div>
        <div class="home-hero-title-wrap">
            <h1 class="heading txt-bold txt-up txt-blue home-hero-title" data-aos="fade-right">
                <Fragment set:html={content.title.replaceAll('\n','<br>')} />
            </h1>
            <h2 class="txt txt-blue txt-up home-hero-sub" data-aos="fade-right" data-aos-delay="200">
                {content.sub}
            </h2>
        </div>
    </div>
</section>
<style lang="scss">
    .home-hero {
        padding-top: 9rem;
        height: 100vh;
        contain: paint;
        .container {
            position: relative;
            height: 100%;
        }
        &-title-wrap {
            height: 100%;
            position: relative;
            z-index: 2;
        }
        &-title {
            padding-top: 15.97826086956522vh; //147/920
            font-size: 21rem;
            margin-left: -.8rem;
            line-height: .88em;
            margin-bottom: .6rem;
            letter-spacing: 0;
        }
        &-sub {
            font-size: 3rem;
        }
        &-img {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-pattern {
            position: absolute;
            z-index: 3;
            height: 1.2rem;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            background: var(--bg-txt);
            background-position: top center;
            background-size: auto 100%;
            background-repeat: repeat-x;
            bottom: 0;
        }
    }
</style>