---
---
<section class="contact-main">
    <div class="container">
        <div class="contact-main-main">
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold txt-up title">
                        Sales branches
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="https://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">
                                1. VIETNAM DAIRY JOINT STOCK COMPANY BRANCH IN HANOI
                            </div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">
                                    11th Floor, Tower B, Handi Resco Building, 521 Kim Ma, Ngoc Khanh Ward, Ba Dinh District, Ha Noi <br>
                                    <span class="txt-label">Phone: </span> (+84. 24) 37 246 019<br>
                                    <span class="txt-label">Fax:</span> (+84. 24) 37 246 005
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">
                                2. VIETNAM DAIRY JOINT STOCK COMPANY BRANCH IN DA NANG
                            </div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">
                                    7th Floor, Post Office Building, 271 Nguyen Van Linh, Vinh Trung Ward, Thanh Khe District, Da Nang City <br>
                                    <span class="txt-label">Phone: </span> (+84. 236) 3 584 848<br>
                                    <span class="txt-label">Fax:</span> (+84. 236) 3 897 223
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">
                                3. VIETNAM DAIRY JOINT STOCK COMPANY BRANCH IN CAN THO
                            </div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">
                                    4th-5-6th floor, 77-77B Vo Van Tan Street, Tan An Ward, Ninh Kieu District, Can Tho City <br>
                                    <span class="txt-label">Phone: </span> (+84. 292) 6 256 555<br>
                                    <span class="txt-label">Fax:</span> (+84. 292) 6 255 969
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold txt-up title">
                        Dependent Units
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="https://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">1. CAN THO DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Tra Noc Industrial Park, Tra Noc Ward, Binh Thuy District, Can Tho City, Vietnam<br>
                                <span class="txt-label">Phone: </span> (+84. 292) 6 258 555 <br><span class="txt-label">Fax:</span> (+84. 292) 6 255 998</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">2. TRUONG THO DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">32 Dang Van Bi, Truong Tho Ward, Thu Duc District, Ho Chi Minh City <br>
                                <span class="txt-label">Phone: </span> (+84. 28) 62 527 555 <br><span class="txt-label">Fax:</span> (+84. 28) 38 966 884</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">3. THONG NHAT DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">12 Dang Van Bi, Truong Tho Ward, Thu Duc District, Ho Chi Minh City <br>
                                <span class="txt-label">Phone: </span> (+84. 28) 62 529 555 <br><span class="txt-label">Fax:</span> (+84. 28) 62 885 727</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">4. SAIGON DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot 1-18, Zone G1- Tan Thoi Hiep Industrial Park, Huong Highway 80, Hiep Thanh Ward, District 12, HCMC <br>
                                <span class="txt-label">Phone: </span> (+84. 28) 62 528 555 <br><span class="txt-label">Fax:</span> (+84. 28) 37 176 353</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">5. DIELAC DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Bien Hoa 1 Industrial Park, Hanoi Highway, An Binh Ward, Bien Hoa City, Dong Nai Province <br>
                                <span class="txt-label">Phone: </span> (+84. 251) 6 256 555 <br><span class="txt-label">Fax:</span> (+84. 251) 3 836 015</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">6. VIETNAM POWDERED MILK FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">No. 9, Tu Do Boulevard, Vietnam - Singapore Industrial Park, Binh Hoa Ward, Thuan An District, Binh Duong Province <br>
                                <span class="txt-label">Phone: </span> (+84. 274) 3 799 628 <br><span class="txt-label">Fax:</span> (+84. 274) 3 799 625</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">7. VIETNAM DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot A-4,5,6,7-CN, NA7 Street, My Phuoc 2 Industrial Park, My Phuoc Ward, Ben Cat District, Binh Duong Province <br>
                                <span class="txt-label">Phone: </span> (+84. 274) 3 559 988 <br><span class="txt-label">Fax:</span> (+84. 274) 3 559 960</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">8. VIETNAM BEVERAGE FACTOR</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot A, NA7 Street, My Phuoc 2 Industrial Park, My Phuoc Ward, Ben Cat District, Binh Duong Province<br>
                                <span class="txt-label">Phone: </span> (+84. 274) 3 556 839<br><span class="txt-label">Fax:</span> (+84. 274) 3 556 890</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">9. DA NANG DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot Q, Street 7, Hoa Khanh Industrial Park, Hoa Khanh Bac Ward, Lien Chieu District, Da Nang City <br>
                                <span class="txt-label">Phone: </span> (+84. 236) 6 259 777 <br><span class="txt-label">Fax:</span> (+84. 236) 6 259 555</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">10. BINH DINH DAIRY FACTOR</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">87 Hoang Van Thu Street, Quang Trung Ward, Quy Nhon City, Binh Dinh Province <br>
                                <span class="txt-label">Phone: </span> (+84. 256) 6 253 555 <br><span class="txt-label">Fax:</span> (+84. 256) 3 746 065</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">11. NGHE AN DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Chao Nam Street, Nghi Thu Commune, Cua Lo Town, Nghe An Province <br>
                                <span class="txt-label">Phone: </span> (+84. 238) 6 259 555 <br><span class="txt-label">Fax:</span> (+84. 238) 3 824 717</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">12. TIEN SON DAIRY FACTORY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Tien Son Industrial Park, Hoan Son Commune, Tien Du District, Bac Ninh Province <br>
                                <span class="txt-label">Phone: </span> (+84. 222) 3 739 568 <br><span class="txt-label">Fax:</span> (+84. 222) 3 714 814</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">13. LAM SON DAIRY FACTOR</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Le Mon Industrial Park, Thanh Hoa City, Thanh Hoa Province <br>
                                <span class="txt-label">Phone: </span> (+84. 237) 3 912 540 <br><span class="txt-label">Fax:</span> (+84. 237) 3 912 541</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">14. HO CHI MINH LOGISTIC ENTERPRISE</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">32 Dang Van Bi, Truong Tho Ward, Thu Duc District, Ho Chi Minh City <br>
                                <span class="txt-label">Phone: </span> (+84. 28) 62 526 555 <br><span class="txt-label">Fax:</span> (+84. 28) 38 960 804</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">15. HANOI CITY LOGISTIC ENTERPRISE</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Km 10, National Highway 5, Duong Xa Commune, Gia Lam District, Hanoi City <br>
                                <span class="txt-label">Phone: </span> (+84. 24) 36 789 489 <br><span class="txt-label">Fax:</span> (+84. 24) 38 276 966</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">16. AN KHANG CLINIC - PHARMACY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">184-186-188 Nguyen Dinh Chieu, Ward 6, District 3, Ho Chi Minh City <br>
                                <span class="txt-label">Phone: </span> (+84. 28) 39 302 785 <br><span class="txt-label">Fax:</span> (+84. 28) 39 302 708</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">17. CU CHI RAW MILK CENTER</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot B14-1-B14-2, D4 Street, Dong Nam Industrial Park, Hoa Phu Commune, Cu Chi District, Ho Chi Minh City<br>
                                <span class="txt-label">Phone: </span> (+84. 292) 3735 0030</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold txt-up title">
                        Domestic subsidiaries, associates
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="https://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">1. VIETNAM DAIRY COW ONE  MEMBER LIMITED COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">10 Tan Trao, Tan Phu Ward, District 7, Ho Chi Minh City <br>
                                <span class="txt-label">Phone: </span> (+84. 28) 54 155 555<br><span class="txt-label">Fax:</span> (+84. 28) 54 161 226</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">2. THONG NHAT THANH HOA ONE  MEMBER LIMITED COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Ward 1, Thong Nhat Town, Yen Dinh  District, Thanh Hoa Province <br>
                                <span class="txt-label">Phone: </span> (+84. 237) 3 514 020 <br><span class="txt-label">Fax:</span> (+84. 237) 3 599 008</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">3. VIETNAM SUGAR JOINT STOCK COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Thuy Xuong Village, Suoi Hiep Commune, Dien Khanh District, Khanh Hoa Province <br>
                                <span class="txt-label">Phone: </span> (+84. 258) 3 745 453 <br>(+84. 258) 3 745 424 <br><span class="txt-label">Fax:</span> (+84. 258) 3 744 440<br><span class="txt-label">Website:</span>
                                <a href="https://www.vietsugar.com.vn" target="_blank" >www.vietsugar.com.vn</a></div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt"> 4. ASIA COCONUT PROCESSING JOINT STOCK COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot EI-2, EI-3, EI-4, Giao Long Industrial Park, Phase II, An Phuoc Commune, Chau Thanh District, Ben Tre Province <br>
                                <span class="txt-label">Phone: </span> (+84. 275) 3 656 999 <br><span class="txt-label">Fax:</span> (+84. 275) 3 626 999 <br><span class="txt-label">Website:</span>
                                <a href="https://www.acp.com.vn" target="_blank" >www.acp.com.vn</a>
                            </div>
                        </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">5. APIS JOINT STOCK COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">No. 18A, VSIP II-A, Street 27, Vietnam - Singapore Industrial Park II-A, Vinh Tan Ward, Tan Uyen District, Binh Duong Province<br>
                                <span class="txt-label">Phone: </span> (+84. 274) 54 165 166 <br><span class="txt-label">Fax:</span> (+84. 274) 54 111 066<br><span class="txt-label">Website:</span>
                                <a href="https://www.apis-corp.com" target="_blank" >www.apis-corp.com</a></div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">6. VIETNAM LIVESTOCK CORPORATION - JOINT STOCK COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">519 Minh Khai, Vinh Tuy Ward,   Hai Ba Trung District, Hanoi<br>
                                <span class="txt-label">Phone: </span> (+84. 24) 38621814 <br><span class="txt-label">Fax:</span> (+84. 24) 38621688<br><span class="txt-label">Website:</span>
                                <a href="https://www.vilico.vn" target="_blank" >www.vilico.vn</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">7. MOC CHAU DAIRY CATTLE BREEDING JOINT STOCK COMPANY</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Km194 Moc Chau Farm Town, Phieng  Luong, Moc Chau District, Son La Province <br>
                                <span class="txt-label">Phone: </span> (+84. 243) 736 8114<br><span class="txt-label">Website:</span>
                                <a href="https://www.mcmilk.com.vn" target="_blank" >www.mcmilk.com.vn</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">8. JAPAN VIETNAM LIVESTOCK COMPANY LIMITED</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">No.519, Minh Khai Street, Vinh Tuy Ward, Hai Ba Trung District, Ha Noi, Vietnam<br>
                                <span class="txt-label">Phone: </span> (+84. 286) 272 5681<br><span class="txt-label">Website:</span>
                                <a href="https://www.vinabeef.com" target="_blank" >www.vinabeef.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold txt-up title">
                        Foriegn subsidiaries, associates
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="https://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">1. DRIFTWOOD DAIRY HOLDING CORPORATION</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">10724 E. Lower Azusa Road, El Monte, California 91734, United States <br><span class="txt-label">Phone: </span> (+1) 1 800 864 6455 <br><span class="txt-label">Website: </span>
                                <a href="https://www.driftwooddairy.com" target="_blank">www.driftwooddairy.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">2. ANGKOR DAIRY PRODUCTS CO., LTD.</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lot P2-096 and P2-097, Phnom Penh Special Economic Zone (PPSEZ), Highway 4, Sangkat, Phleung Chhes Totes, Khan PoSenChey, Phnom Penh, Cambodia <br><span class="txt-label">Phone: </span> (+855) 24683 9999 <br><span class="txt-label">Website:</span>
                                <a href="https://www.angkormilk.com.kh" target="_blank">www.angkormilk.com.kh</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">3. MIRAKA HOLDINGS LIMITED</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">108 Tuwharetoa, Po Box 740, Taupo 3351, New Zealand <br><span class="txt-label">Phone: </span> (+64) 7 376 0075 <br><span class="txt-label">Fax:</span> (+64) 7 377 0694 <br><span class="txt-label">Website:</span>
                                <a href="https://www.miraka.co.nz">www.miraka.co.nz</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">4. LAO-JAGRO DEVELOPMENT XIENGKHOUANG CO., LTD</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Boungvene Village, Paek District, Xiengkhouang Province, Lao P.D.R. <br><span class="txt-label">Phone: </span> (+856) 21563053 <br><span class="txt-label">Fax:</span> (+856) 21563054 <br><span class="txt-label">Email:</span>
                                <a href="mailto:laojagro@yahoo.com">laojagro@yahoo.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">5. DEL MONTE VINAMILK DAIRY PHILIPPINES INC.</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">JV Campos Centre, 9th Avenue corner, 30th Street, Bonifacio Global City, Taguig City, Philippines <br><span class="txt-label">Email:</span>
                                <a href="mailto:feedback@delmonte-phil.com">feedback@delmonte-phil.com</a> <br><span class="txt-label">Website: </span>
                                <a href="https://lifegetsbetter.ph/our-products/dairy" target="_blank">https://lifegetsbetter.ph/our-products/dairy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .contact-main {
        padding-top: 10rem;
        padding-bottom: 12.3rem;
        @media screen and (max-width: 767px) {
            padding-top: 5.3rem;
            padding-bottom: 5.3rem;
        }
        &-main {
            display: flex;
            flex-direction: column;
            row-gap: 3.6rem;
            @media screen and (max-width: 767px) {
                row-gap: 1.6rem;
            }
        }
        &-item {
            .head-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
                color: var(--cl-bg);
                background-color: var(--cl-blue);
                transition: background-color 400ms ease;
                padding-block: .8rem;
                padding-inline: 2rem;
                border-radius: 1.4rem;
                @media screen and (max-width: 767px) {
                    .title {
                        font-size: 2.4rem;
                        text-align: center;
                        max-width: 25.9rem;
                    }
                }
                .ic {
                    transition: transform 400ms ease;
                }
                &:hover {
                    background-color: var(--cl-blue-2);
                }
                &.active {
                    .ic {
                        transform: rotate(180deg);
                    }
                }
            }
            .body-wrap {
                max-height: 0;
                overflow: hidden;
                transition: max-height 600ms ease;
                &-inner {
                    padding-top: 3.8rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: var(--grid-gap);
                    row-gap: 4.4rem;
                    @media screen and (max-width: 767px) {
                        row-gap: 2.4rem;
                        grid-template-columns: 1fr;
                        padding-top: 3rem;
                        padding-bottom: 2rem;
                    }
                    .ctc-main-sub-item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 1.8rem;
                        max-width: 34.2rem;
                        @media screen and (max-width: 767px) {
                            row-gap: 1.2rem;
                        }
                        .ctc-main-body-sub-txt {
                            color: var(--cl-blue);
                        }
                        .ctc-main-sub-item-inner-txt {
                            color: var(--cl-txt);
                            .txt-label {
                                color: var(--cl-blue);
                                font-weight: 700;
                            }
                            & > a {
                                display: inline;
                            }
                        }
                    }
                }                
            }
        }
    }
</style>
<script>
    let allItems = document.querySelectorAll('.contact-main-item');
    allItems.forEach((el, idx) => {
        el.querySelector('.head-wrap').addEventListener('click', function(e) {
            e.preventDefault();
            if (el.querySelector('.head-wrap').classList.contains('active')) {
                el.querySelector('.head-wrap').classList.remove('active');
                el.querySelector('.body-wrap').removeAttribute('style');
                
            } else {
                el.querySelector('.head-wrap').classList.add('active');
                let height = el.querySelector('.body-wrap-inner').getBoundingClientRect().height;
                el.querySelector('.body-wrap').setAttribute('style', 'max-height: ' + height + 'px')
            }

        })
    })
</script>
