---
---
<section class="contact-main">
    <div class="container">
        <div class="contact-main-main">
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold title">
                        Chi nhánh bán hàng
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">
                                1. CHI NHÁNH TẠI HÀ NỘI
                            </div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">
                                    Tầng 11, Tháp B, <br>
                                    Tòa nhà Handi Resco, 521 Kim Mã, <br>
                                    Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội <br>
                                    <span class="txt-label">ĐT:</span> (+84. 24) 37 246 019<br>
                                    <span class="txt-label">Fax:</span> (+84. 24) 37 246 005
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">
                                2. CHI NHÁNH TẠI ĐÀ NẴNG
                            </div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">
                                    Tầng 7- tòa nhà Bưu điện - 271 Nguyễn Văn Linh, Phường Vĩnh Trung, Quận Thanh Khê, TP. Đà Nẵng <br>
                                    <span class="txt-label">ĐT:</span> (+84. 236) 3 584 848<br>
                                    <span class="txt-label">Fax:</span> (+84. 236) 3 897 223
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">
                                3. CHI NHÁNH TẠI CẦN THƠ
                            </div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">
                                    Tầng 4-5-6 số 77-77B Đường Võ Văn Tần, Phường Tân An, Quận Ninh Kiều, TP. Cần Thơ <br>
                                    <span class="txt-label">ĐT:</span> (+84. 292) 6 256 555<br>
                                    <span class="txt-label">Fax:</span> (+84. 292) 6 255 969
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold title">
                        Các đơn vị trực thuộc
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">1. NHÀ MÁY SỮA CẦN THƠ</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Khu Công nghiệp Trà Nóc, Phường Trà Nóc, Quận Bình Thủy, TP. Cần Thơ, Việt Nam<br><span class="txt-label">ĐT:</span> (+84. 292) 6 258 555 <br><span class="txt-label">Fax:</span> (+84. 292) 6 255 998</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">2. NHÀ MÁY SỮA TRƯỜNG THỌ</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">32 Đặng Văn Bi, Phường Trường Thọ, Quận Thủ Đức, TP. Hồ Chí Minh <br><span class="txt-label">ĐT:</span> (+84. 28) 62 527 555 <br><span class="txt-label">Fax:</span> (+84. 28) 38 966 884</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">3. NHÀ MÁY SỮA THỐNG NHẤT</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">12 Đặng Văn Bi, Phường Trường Thọ, Quận Thủ Đức, TP. Hồ Chí Minh <br><span class="txt-label">ĐT:</span> (+84. 28) 62 529 555 <br><span class="txt-label">Fax:</span> (+84. 28) 62 885 727</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">4. NHÀ MÁY SỮA SÀI GÒN</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô 1-18 Khu G1- KCN Tân Thới Hiệp, Hương lộ 80, Phường Hiệp Thành, Quận 12, TP. HCM <br><span class="txt-label">ĐT:</span> (+84. 28) 62 528 555 <br><span class="txt-label">Fax:</span> (+84. 28) 37 176 353</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">5. NHÀ MÁY SỮA DIELAC</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">KCN Biên Hòa 1, Xa lộ Hà NộiPhường An Bình, TP. Biên Hòa, Tỉnh Đồng Nai <br><span class="txt-label">ĐT:</span> (+84. 251) 6 256 555 <br><span class="txt-label">Fax:</span> (+84. 251) 3 836 015</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">6. NHÀ MÁY SỮA BỘT VIỆT NAM</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Số 9, Đại lộ Tự Do, KCN Việt Nam - Singapore 1, Phường Bình Hòa, Huyện Thuận An, Tỉnh Bình Dương <br><span class="txt-label">ĐT:</span> (+84. 274) 3 799 628 <br><span class="txt-label">Fax:</span> (+84. 274) 3 799 625</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">7. NHÀ MÁY SỮA VIỆT NAM</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô A-4,5,6,7-CN, Đường NA7, KCN Mỹ Phước 2, Phường Mỹ Phước, Huyện Bến Cát, Tỉnh Bình Dương <br><span class="txt-label">ĐT:</span> (+84. 274) 3 559 988 <br><span class="txt-label">Fax:</span> (+84. 274) 3 559 960</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">8. NHÀ MÁY NƯỚC GIẢI KHÁT VIỆT NAM</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô A, Đường NA7, KCN Mỹ Phước 2, Phường Mỹ Phước, Huyện Bến Cát, Tỉnh Bình Dương<br><span class="txt-label">ĐT:</span> (+84. 274) 3 556 839<br><span class="txt-label">Fax:</span> (+84. 274) 3 556 890</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">9. NHÀ MÁY SỮA ĐÀ NẴNG</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô Q, Đường số 7, KCN Hòa Khánh, Phường Hòa Khánh Bắc, Quận Liên Chiểu, TP. Đà Nẵng <br><span class="txt-label">ĐT:</span> (+84. 236) 6 259 777 <br><span class="txt-label">Fax:</span> (+84. 236) 6 259 555</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">10. NHÀ MÁY SỮA BÌNH ĐỊNH</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">87 Hoàng Văn Thụ, Phường Quang Trung, TP. Quy Nhơn, Tỉnh Bình Định <br><span class="txt-label">ĐT:</span> (+84. 256) 6 253 555 <br><span class="txt-label">Fax:</span> (+84. 256) 3 746 065</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">11. NHÀ MÁY SỮA NGHỆ AN</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Đường Sào Nam, Xã Nghi Thu, Thị Xã Cửa Lò, Nghệ An <br><span class="txt-label">ĐT:</span> (+84. 238) 6 259 555 <br><span class="txt-label">Fax:</span> (+84. 238) 3 824 717</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">12. NHÀ MÁY SỮA TIÊN SƠN</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Khu Công nghiệp Tiên Sơn, Xã Hoàn Sơn, Huyện Tiên Du, Tỉnh Bắc Ninh <br><span class="txt-label">ĐT:</span> (+84. 222) 3 739 568 <br><span class="txt-label">Fax:</span> (+84. 222) 3 714 814</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">13. NHÀ MÁY SỮA LAM SƠN</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Khu Công nghiệp Lễ Môn, TP. Thanh Hóa, Tỉnh Thanh Hóa <br><span class="txt-label">ĐT:</span> (+84. 237) 3 912 540 <br><span class="txt-label">Fax:</span> (+84. 237) 3 912 541</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">14. XÍ NGHIỆP KHO VẬN HCM</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">32 Đặng Văn Bi, Phường Trường Thọ, Quận Thủ Đức, TP. Hồ Chí Minh <br><span class="txt-label">ĐT:</span> (+84. 28) 62 526 555 <br><span class="txt-label">Fax:</span> (+84. 28) 38 960 804</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">15. XÍ NGHIỆP KHO VẬN HÀ NỘI</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Km 10, Quốc lộ 5, Xã Dương Xá, Huyện Gia Lâm, TP. Hà Nội <br><span class="txt-label">ĐT:</span> (+84. 24) 36 789 489 <br><span class="txt-label">Fax:</span> (+84. 24) 38 276 966</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">16. PHÒNG KHÁM AN KHANG</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">184-186-188 Nguyễn Đình Chiểu, Phường 6, Quận 3, TP. Hồ Chí Minh <br><span class="txt-label">ĐT:</span> (+84. 28) 39 302 785 <br><span class="txt-label">Fax:</span> (+84. 28) 39 302 708</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold ctc-main-body-sub-txt">17. TRUNG TÂM SỮA TƯƠI NGUYÊN LIỆU CỦ CHI</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô B14-1-B14-2, đường D4; KCN Đông Nam, xã Hòa Phú, huyện Củ Chi, TP. Hồ Chí Minh<br><span class="txt-label">ĐT:</span> (+84. 292) 3735 0030</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold title">
                        Các công ty con, liên doanh, liên kết trong nước
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">1. CÔNG TY TNHH MTV BÒ SỮA VIỆT NAM</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">10 Tân Trào, Phường Tân Phú, Quận 7, TP. Hồ Chí Minh <br><span class="txt-label">ĐT:</span> (+84. 28) 54 155 555<br><span class="txt-label">Fax:</span> (+84. 28) 54 161 226</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">2. CÔNG TY TNHH MTV BÒ SỮA THỐNG NHẤT THANH HÓA</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Khu phố 1, Thị trấn Thống Nhất, Huyện Yên Định, Tỉnh Thanh Hóa <br><span class="txt-label">ĐT:</span> (+84. 237) 3 514 020 <br><span class="txt-label">Fax:</span> (+84. 237) 3 599 008</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">3. CÔNG TY CỔ PHẦN ĐƯỜNG VIỆT NAM</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Thôn Thủy Xương, Xã Suối Hiệp, Huyện Diên Khánh, Tỉnh Khánh Hòa <br><span class="txt-label">ĐT:</span> (+84. 258) 3 745 453 <br>(+84. 258) 3 745 424 <br><span class="txt-label">Fax:</span> (+84. 222) 3 714 814</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">4. TỔNG CÔNG TY CHĂN NUÔI VIỆT NAM - CTCT</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">519 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Hà Nội <br><span class="txt-label">ĐT:</span> (+84. 24) 38621814 <br><span class="txt-label">Fax:</span> (+84. 24) 38621688 <br><span class="txt-label">Website:</span>
                                <a href="http://www.vilico.vn" target="_blank" >www.vilico.vn</a>
                            </div>
                        </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">5. CÔNG TY TNHH LIÊN DOANH THỰC PHẨM VÀ ĐỒ UỐNG VIBEV</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">10 Tân Trào, Phường Tân Phú, Quận 7, TP.Hồ Chí Minh <br><span class="txt-label">ĐT:</span> (+84. 28) 54 155 555 <br><span class="txt-label">Fax:</span> (+84. 28) 54 161 226</div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">6. CÔNG TY CỔ PHẦN CHẾ BIẾN DỪA Á CHÂU</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô EI-2, EI-3, EI-4, KCN Giao Long, Giai Đoạn II, Xã An Phước, Huyện Châu Thành, Tỉnh Bến Tre <br><span class="txt-label">ĐT:</span> (+84. 275) 3 656 999 <br><span class="txt-label">Fax:</span> (+84. 275) 3 626 999<br><span class="txt-label">Website:</span>
                                <a href="http://www.acp.com.vn" target="_blank" >www.acp.com.vn</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">7. CÔNG TY CỔ PHẦN APIS</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Số 18A, VSIP II-A, đường 27, Khu công nghiệp Việt Nam – Singapore II-A, Phường Vĩnh Tân, Huyện Tân Uyên, Tỉnh Bình Dương. <br><span class="txt-label">ĐT:</span> (+84. 274) 54 165 166<br><span class="txt-label">Fax:</span> (+84. 274) 54 111 066<br><span class="txt-label">Website:</span>
                                <a href="http://www.apis-corp.com" target="_blank" >www.apis-corp.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-main-item" data-aos="fade-up">
                <a href="#" class="head-wrap">
                    <div class="heading txt-40 txt-bold title">
                        Các công ty con, liên doanh, liên kết nước ngoài
                    </div>
                    <div class="ic ic-14">
                        <svg width="100%" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.86603 12.5C7.48113 13.1667 6.51887 13.1667 6.13397 12.5L1.80385 5C1.41895 4.33333 1.90007 3.5 2.66987 3.5L11.3301 3.5C12.0999 3.5 12.5811 4.33333 12.1962 5L7.86603 12.5Z" fill="currentColor"/>
                        </svg>                            
                    </div>
                </a>
                <div class="body-wrap">
                    <div class="body-wrap-inner">
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">1. DRIFTWOOD DAIRY HOLDING CORPORATION</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">10724 E. Lower Azusa Road, El Monte, California 91734, United States <br><span class="txt-label">ĐT:</span> (+1) 1 800 864 6455 <br><span class="txt-label">Website: </span>
                                <a href="http://www.driftwooddairy.com" target="_blank">www.driftwooddairy.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">2. ANGKOR DAIRY PRODUCTS CO., LTD.</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Lô P2-096 và P2-097, Đặc khu kinh tế Phnom Penh (PPSEZ), Quốc lộ 4, Sangkat, Phleung Chhes Totes, Khan PoSenChey, Thủ đô Phnom Penh, Campuchia <br><span class="txt-label">ĐT:</span> (+855) 24683 9999 <br><span class="txt-label">Website:</span>
                                <a href="http://www.angkormilk.com.kh" target="_blank">www.angkormilk.com.kh</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">3. CÔNG TY TNHH LAO-JAGRO DEVELOPMENT XIENGKHUOANG</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Tiếng Việt: Làng Boungvene, quận Paek, tỉnh Xiêng Khoảng, Lào <br>Tiếng Anh: Boungvene Village, Paek District, Xiengkhouang Province, Lao P.D.R. <br><span class="txt-label">ĐT:</span> (+856) 21563053 <br><span class="txt-label">Fax:</span> (+856) 21563054 <br><span class="txt-label">Email:</span>
                                <a href="mailto:laojagro@yahoo.com">laojagro@yahoo.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">4. CÔNG TY TNHH MIRAKA HOLDINGS</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">108 Tuwharetoa St, Po Box 740, Taupo 3351, New Zealand <br><span class="txt-label">ĐT:</span> (+64) 7 376 0075 <br><span class="txt-label">Fax:</span> (+64) 7 377 0694 <br><span class="txt-label">Website:</span>
                                <a href="http://www.miraka.co.nz" target="_blank">www.miraka.co.nz</a>
                                </div>
                            </div>
                        </div>
                        <div class="ctc-main-sub-item">
                            <div class="txt txt-18 txt-inter txt-bold txt-up ctc-main-body-sub-txt">5. DEL MONTE VINAMILK DAIRY PHILIPPINES INC.</div>
                            <div class="ctc-main-sub-item-inner">
                                <div class="txt txt-18 txt-inter ctc-main-sub-item-inner-txt">Tiếng Việt: Tầng 5, Tòa nhà JY Campos Centre, Đại lộ 9, Góc phố 30, Thành phố Bonifacio Global, Tỉnh Taguig, Nước cộng hòa Philippines <br>Tiếng Anh: 5th Floor, JY Campos Centre, 9th Avenue corner, 30th Street, Bonifacio Global City, Taguig, Philippines<br><span class="txt-label">Email:</span>
                                <a href="mailto:feedback@delmonte-phil.com">feedback@delmonte-phil.com</a> <br><span class="txt-label">Website: </span>
                                <a href="https://lifegetsbetter.ph/our-products/dairy" target="_blank">https://lifegetsbetter.ph/our-products/dairy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .contact-main {
        padding-top: 10rem;
        padding-bottom: 12.3rem;
        &-main {
            display: flex;
            flex-direction: column;
            row-gap: 3.6rem;
        }
        &-item {
            .head-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
                color: var(--cl-bg);
                background-color: var(--cl-blue);
                transition: background-color 400ms ease;
                padding-block: .8rem;
                padding-inline: 2rem;
                border-radius: 1.4rem;
                .ic {
                    transition: transform 400ms ease;
                }
                &:hover {
                    background-color: var(--cl-blue-2);
                }
                &.active {
                    .ic {
                        transform: rotate(180deg);
                    }
                }
            }
            .body-wrap {
                max-height: 0;
                overflow: hidden;
                transition: max-height 600ms ease;
                &-inner {
                    padding-top: 3.8rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: var(--grid-gap);
                    row-gap: 4.4rem;
                    .ctc-main-sub-item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 1.8rem;
                        max-width: 34.2rem;
                        .ctc-main-body-sub-txt {
                            color: var(--cl-blue);
                        }
                        .ctc-main-sub-item-inner-txt {
                            color: var(--cl-txt);
                            .txt-label {
                                color: var(--cl-blue);
                                font-weight: 700;
                            }
                            & > a {
                                display: inline;
                            }
                        }
                    }
                }                
            }
        }
    }
</style>
<script>
    let allItems = document.querySelectorAll('.contact-main-item');
    allItems.forEach((el, idx) => {
        el.querySelector('.head-wrap').addEventListener('click', function(e) {
            e.preventDefault();
            if (el.querySelector('.head-wrap').classList.contains('active')) {
                el.querySelector('.head-wrap').classList.remove('active');
                el.querySelector('.body-wrap').removeAttribute('style');
                
            } else {
                el.querySelector('.head-wrap').classList.add('active');
                let height = el.querySelector('.body-wrap-inner').getBoundingClientRect().height;
                el.querySelector('.body-wrap').setAttribute('style', 'max-height: ' + height + 'px')
            }

        })
    })
</script>
