@use './color.scss';
@use './typo.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
section {
    z-index: 2;
    position: relative;
}
button {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}
img {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
    &.img-h {
        height: 100%;
        width: auto;
    }
    &.img-fit {
        object-fit: contain;
        width: 100%;
        height: 100%;
        // position: absolute;
        top: 0;
        left: 0;
        &-bot {
            object-position: 50% 100%;
        }
    }
}
.ic {
    display: flex;
    align-items: center;
    justify-content: center;
    &-8 {
        width: .8rem;
        height: .8rem;
    }
    &-10 {
        width: 1rem;
        height: 1rem;
    }
}
.btn {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    background-color: var(--cl-blue);
    color: var(--cl-bg);
}
:root {
    font-size: 0.6944444444444444vw;
    @media screen and (min-width: 1920px) {
        font-size: calc(10px * (1920px / 1440px));
    }
    @media screen and (min-aspect-ratio: 1600 / 800) {
        font-size: 1.1vh !important;
    }
    
    
}
html {
    background-color: var(--cl-bg);
}
.container {
    @media screen and (min-width: 1920px) {
        max-width: 1920px;
    }
    --grid-gap: 3.2rem;
    width: 100%;
    margin: 0 auto;
    padding-inline: 12rem;
    &.grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--grid-gap);
    }
}
.heading {
    font-family: 'vnm-sans';
    letter-spacing: .05em;
}
.txt {
    font-family: 'vnm-std';
    letter-spacing: .05em;
    font-weight: 400;
    &-14 {
        font-size: 1.4rem;
    }
    &-16 {
        font-size: 1.4rem;
    }
    &-up {
        text-transform: uppercase;
    }
    &-blue {
        color: var(--cl-blue);
    }
    &-white {
        color: var(--cl-white);
    }
    &-med {
        font-weight: 500;
    }
}
.h {
    &-19 {
        font-size: 1.9rem;
    }
    &-24 {
        font-size: 2.4rem;
    }
    &-78 {
        font-size: 7.8rem;
    }
}