---
import '../style/main.scss';
import 'aos/dist/aos.css';
import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import { getImage } from "astro:assets";
import bgTexture from "../assets/home-hero-pattern.jpg";
import { ViewTransitions } from 'astro:transitions';
const OpBgTexture = await getImage({src: bgTexture, format: 'webp', width: bgTexture.width / 2})
const props = Astro.props;
const data = {
	header: {
		vn: {
			menu: [
				{text: "Thông điệp", url: "./messages", type: 'drop'},
				{text: "Thông tin chung", url: "./chap-1", type: 'drop'},
				{text: "Báo cáo hoạt động 2023", url: "./chap-1", type: 'drop'},
				{text: "Chiến lược 2022-2026", url: "./chap-1", type: ''},
				{text: "Quản trị công ty", url: "./chap-1", type: ''},
				{text: "Phát triển bền vững", url: "./chap-1", type: ''},
				{text: "Báo cáo tài chính", url: "./chap-1", type: ''},
				{text: "Liên hệ", url: "./contact", type: ''}
			],
			dl: {text: 'Tải báo cáo'}
		},
		en: {
			menu: [
				{text: "Messages", url: "./messages", type: 'drop'},
				{text: "General information", url: "./chap-1", type: 'drop'},
				{text: "Business review in 2023", url: "./chap-1", type: 'drop'},
				{text: "Development strategy in 2022-2026", url: "./chap-1", type: ''},
				{text: "Corporate governance", url: "./chap-1", type: ''},
				{text: "Sustainable development", url: "./chap-1", type: ''},
				{text: "Financial statements", url: "./chap-1", type: ''},
				{text: "Contact", url: "./contact", type: ''}
			],
			dl: {text: 'Get full report'}
		}
	},
	footer: {
		vn: {
			info: [
				{
					type: "tel", 
					label_text: "Điện thoại",
					url: "tel:(+84.28) 54 155 555",
					body_text: "(+84.28) 54 155 555"
				},
				{
					type: "head", 
					label_text: "Trụ sở",
					url: "https://maps.app.goo.gl/Uib4zMrHvZf1hWtbA",
					body_text: "10 Tân Trào, Phường Tân Phú, Quận 7, TP Hồ Chí Minh"
				},
				{
					type: "fax", 
					label_text: "Fax",
					url: "tel:(+84.28) 54 155 555",
					body_text: "(+84.28) 54 155 555"
				}
			],
			copy: {text: '@2023 Công ty cổ phần sữa Việt Nam - All Rights Reserved'}
		},
		en: {
			info: [
				{
					type: "tel", 
					label_text: "Tel",
					url: "tel:(+84.28) 54 155 555",
					body_text: "(+84.28) 54 155 555"
				},
				{
					type: "head", 
					label_text: "Headquarter",
					url: "https://maps.app.goo.gl/Uib4zMrHvZf1hWtbA",
					body_text: "10 Tan Trao, Tan Phu Ward, District 7, Ho Chi Minh City, Vietnam"
				},
				{
					type: "fax", 
					label_text: "Fax",
					url: "tel:(+84.28) 54 155 555",
					body_text: "(+84.28) 54 155 555"
				}
			],
			copy: {text: '@2023 Vietnam Dairy Products Joint Stock Company - All Rights Reserved'}
		}
	}
}
---
<html lang={props.lang || 'vn'}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{props.title}</title>
		<!-- <ViewTransitions /> -->
        <link rel="stylesheet" href="../style/main.scss">
	</head>
	<body style={`--bg-txt: url(${OpBgTexture.src})`}>
		<Header content={props.lang == 'en' ? data.header.en : data.header.vn} lang={props.lang || 'vn'}/>
        <slot />
		<Footer content={props.lang == 'en' ? data.footer.en : data.footer.vn} lang={props.lang || 'vn'}/>
	</body>
    <script src="../js/main.js"></script>
</html>